[2016-07-23 14:14] ufukomer opened #3 "Visual Studio Code jsx highlighting problem"
When I put create a new line (in a situation like below), it disturbs the JSX highlighting:

![](http://image.prntscr.com/image/b57121946b8d4aa59b94af496778b9e0.png)

But it's ok if I don't break a new line (green underline is not related with the issue, it's about tslint rule):

![](http://image.prntscr.com/image/9a297bd2e2224589bfb487457e20ec6c.png)

[2016-07-27 07:36] ufukomer commented on #3
I think this is common problem of Visual Studio Code, check the [issues](https://github.com/Microsoft/TypeScript-TmLanguage/issues/221). So we can close this one.

[2016-08-05 10:22] #3 closed

[2016-09-25 07:17] leftstick opened #4 "miss `markdown` syntax highlighting support?"
as below:

![2016-09-25 3 16 26](https://cloud.githubusercontent.com/assets/1059956/18813625/117eb9f4-8333-11e6-87d5-a582a7158a90.png)

Do you have plan for it? Thanks

[2016-09-27 07:58] leftstick commented on #4
Seems only valid on my vscode, after restart, it working now. Weird!!

[2016-09-27 07:58] #4 closed

[2016-11-14 14:42] shauryab98 opened #5 "Some parts of the editor aren't affected by the theme."
The top title bar and the bottom status bar aren't affected by the theme.

![The way it's supposed to be.](https://cloud.githubusercontent.com/assets/2617705/20268725/611c9e82-aaa6-11e6-9a73-8202529f6bda.png)

![On my system](https://cloud.githubusercontent.com/assets/2617705/20268699/457f701e-aaa6-11e6-9ad8-dd7770a9b0e0.png)

[2016-12-07 18:26] jmakeig opened #6 "Markdown syntax highlighting doesn't seem to be implemented"
The code snippets work, but none of the Markdown syntax is highlighted.

## Dracula theme
<img width="617" alt="markdown-dracula" src="https://cloud.githubusercontent.com/assets/176233/20981155/4a5ff6ac-bc68-11e6-9068-677ddb825fdc.png">

## Visual Studio Dark theme
<img width="610" alt="markdown-vsdark" src="https://cloud.githubusercontent.com/assets/176233/20981154/4a5d1086-bc68-11e6-94b2-8ae5272

[2017-02-18 17:00] #6 closed

[2017-02-28 00:49] dsifford commented on #5
@shauryab98 Sorry for the tardiness on this.

To my knowledge, it's not currently possible to style those parts of the editor. If this is incorrect, please let me know.

Closing this for now.

[2017-02-28 00:49] #5 closed

[2017-02-28 13:26] dkouvdis opened #9 "SASS theme issue - Hex and Unit values"
Hex and unit values were previously yellow, now it's white after the update.
Not sure if it was intentional.

![image](https://cloud.githubusercontent.com/assets/2727196/23406913/fe4b4944-fdc9-11e6-8870-eb8b262dda4c.png)

[2017-02-28 14:20] dsifford commented on #9
That's for the report. Not intentional. Will fix shortly.

[2017-02-28 15:16] #9 closed

[2017-02-28 18:58] joaoevangelista opened #10 "Remove italic on 'arrow' at functions definitions"
Using javascript, maybe typescript too, when we declare an anonymous function or a lambda the arrow operator `=>` is italic.
Since most of fonts do not support ligatures such as Fira code, nor support italics, for a better alignment I think is better to keep them normal.

[2017-02-28 19:09] dsifford commented on #10
@joaoevangelista Good call. Will fix later this evening.

[2017-02-28 20:27] #10 closed

[2017-02-28 21:50] joaoevangelista commented on #10
Awesome!

[2017-03-03 10:48] nguyenhuumy opened #11 "Unable to see text in search result"
<img width="452" alt="screen shot 2017-03-03 at 6 45 14 pm" src="https://cloud.githubusercontent.com/assets/5990387/23548281/ae6c70c2-0041-11e7-874c-38dd3627656c.png">

If your code has dark blue color, the highlight text in search result make it unseen

[2017-03-04 00:13] dsifford commented on #11
@nguyenhuumy Good catch... Fix coming shortly. 👍

[2017-03-04 20:15] dsifford opened #12 "Improve semantic highlighting across all languages"
# The Problem

Dracula does not have an official guideline when it comes to semantic highlighting. Because of this, you might notice that there is really no uniformity between Dracula theme implementations, and even between languages within the same Dracula theme implementation (including this one!).

An example of this behavior can be seen by comparing `JSON` and `yaml` languages below.

### Befo

[2017-03-04 20:47] dsifford commented on #11
Fixed in #13

[2017-03-04 20:47] #11 closed

[2017-03-07 05:33] wprater opened #14 "Selection, highlights, and similar terms too similar"
Multiple selections or similar term selections are very hard to differentiate.  Im not able to tell how many terms Ive selected when doing multi cursor editing.

Consider identifying the different vs code selection types and differentiating between them better.

Hovering over a token

![image](https://cloud.githubusercontent.com/assets/10452/23643151/b870c044-02b4-11e7-93fc-ad805034d41c.png)

Mult

[2017-03-07 18:08] zenorocha opened #15 "Remove CHANGELOG.md"
Is there any reason why we need a `CHANGELOG.md` file since we use GitHub Releases already?

[2017-03-07 18:40] wprater commented on #15
Is this what vs code reads in the extension panel?

[2017-03-07 18:56] dsifford commented on #15
@wprater Correct

[2017-03-07 19:00] zenorocha commented on #15
Hmmm, so we can really remove it

[2017-03-07 19:00] #15 closed

[2017-03-07 19:02] dsifford commented on #14
Open to any ideas/suggestions you might have @wprater.

On the below example, do you think just making the similar selections a bit more opaque would help?

This is one area that I personally found to be one of the trickiest since vscode offers such a wide range of selection types.

[2017-03-07 19:03] dsifford commented on #15
@zenorocha I'm confused. What was the issue with keeping the changelog?

[2017-03-07 19:10] wprater commented on #14
Id love to help.  I think you can either use a transparent version of one of your primary colors, or add a slightly contrasting border?

do you have a list of all the selection types?

[2017-03-07 19:11] dsifford commented on #14
Yep, list can be found starting here: https://github.com/dracula/visual-studio-code/blob/master/src/dracula.yml#L19

[2017-03-07 19:12] dsifford commented on #14
Of note: You'll notice that some of the hex codes are 8-characters in length. The last two characters correspond to the opacity.

[2017-03-07 21:26] dsifford commented on #14
@wprater off topic, but would you mind if I bounce some ideas off you in #12

I've come across some consistency issues and it would be helpful to have perspectives from other Dracula theme users before deciding to go with a change or not.

[2017-03-08 00:17] zenorocha commented on #15
Sorry, there was a typo over there.

I wanted to remove because all the other repos only use GitHub Releases to communicate changes. But since VSCode needs this file, then I'm fine with keeping it here.

[2017-03-08 00:20] wprater commented on #14
sure thing!  I bounce between a couple themes, none seem to quite get it all right yet.  Material Ocean, 80s Monokai, and Dracula.

[2017-03-08 01:04] dsifford commented on #12
@wprater One thing I've been mulling over is how to approach highlighting the various types of constants across languages.

Right now (for the most part) numeric and language constants are highlighted purple.

So, if we take JS as an example, that would be these...
[code]

I'm wondering if this should be broken down into two separate entities: numeric constants being purple and language constants

[2017-03-09 03:39] wprater commented on #12
I like the idea of breaking them down more.  especially the language keywords.  numbers, strings, language constructs, and constants should all be different, in my opinion.

wish I could give me more advice now.  Ive been mainly using Monokai 80s and Material Ocean, which seem to do quite a but of the breakdown.  However, Ive been in JS land recently, less so in Python or Ruby.

did you know about

[2017-03-09 15:49] dsifford commented on #12
Yeah, agree that there should be distinction. I suppose the goal is to avoid overdoing it. I imagine some of the Dracula users out there appreciate the "mid-range minimalism" of how the theme sits currently.

I suppose I could download those themes and see if I can use them for inspiration.

Nope. Can you clarify?

[2017-03-21 19:23] wizeman opened #16 "Unable to install via git"
Your web page says:

[code]

However, this doesn't seem to work anymore: vscode complains about a missing `theme/dracula.json` file.

[2017-03-21 19:33] dsifford commented on #16
@wizeman Yeah, that's not correct. The theme exists as yaml (for maintainability) and needs to be built before using. I'm not sure how to edit the theme's page on the dracula site to reflect these changes (ping @zenorocha).

You can still install via git by following those steps, but you also have to do two more things:
1. `cd ~/.vscode/extensions/theme-dracula` and `npm install`.
2. `npm run buil

[2017-03-21 19:37] benjamreynolds commented on #16
The themes page on the dracula site is [here](https://github.com/dracula/dracula.github.io/tree/site/src/content/visual-studio-code).

[2017-03-21 19:48] dsifford commented on #16
Thanks @benjamreynolds -- I'll send a PR later on when I get some time. 👍

[2017-03-23 18:06] #16 closed

[2017-03-23 18:15] wprater commented on #12
sorry, for the massive delay!

I thought the TM scope selector could be helpful for you!

![image](https://cloud.githubusercontent.com/assets/10452/24263265/e909b564-0fb9-11e7-99e0-d0d38d21a591.png)

[2017-03-23 18:15] wprater commented on #12
Im not familiar enough with Dracula to know its design inspiration, so perhaps the other themes are not a good example.

[2017-03-23 18:18] dsifford commented on #12
@wprater Ah, yeah nevermind I did know about that scope inspector tool. Very handy indeed!

[2017-04-05 23:18] beefsack opened #17 "Workbench theming support"
With the release of 1.11, there are a number of new elements which can be styled, though they note that the new theme format isn't finalised and is likely to change so supporting it early may result in some wasted effort.

Will be great to have the status bar more tightly integrated into the theme.

https://code.visualstudio.com/updates/v1_11#_preview-workbench-theming

[2017-04-06 00:27] dsifford commented on #17
@beefsack Cool! I'm still waiting for my package manager to update the vscode package, but I'll see if I can get out an experimental version of that soon after that happens.

Looks fairly easy to implement (at least for now)

[2017-04-06 07:06] rajasimon commented on #17
Wo. This will be interesting.

[2017-04-06 19:12] dsifford commented on #17
@rajasimon Likely will be able to get to this later this evening. If not, definitely tomorrow. 👍

[2017-04-07 02:13] dsifford commented on #17
@beefsack @rajasimon Just pushed out `v1.9.0`. Let me know your thoughts after you get a chance to play around with it.

Thanks 👍

[2017-04-07 02:18] beefsack commented on #17
Oh wow, that's awesome 😄 It's a huge amount better having the lairy status bar softened a lot, that was a big distraction for me previously.

The only think I'm noting at the moment is that the file text for inactive tabs feels a little faint, but it may be a non-issue as it's not like it's unreadable, I'll give myself some time to adjust to the changes and see.  Huge improvement though, looks fan

[2017-04-07 02:42] dsifford commented on #17
@beefsack Sounds great. Feel free to send in a PR with any suggested changes.

Relevant lines for the UI are here: https://github.com/dracula/visual-studio-code/blob/master/src/dracula.yml#L24-L87

[2017-04-07 06:08] rajasimon commented on #17
I really like this theme thanks for the good work.

[2017-04-07 08:13] nguyenhuumy opened #18 "highlight in search and in selection look identical"
Here I select the word `something` but cannot differentiate the selection in the search result.

<img width="769" alt="screen shot 2017-04-07 at 4 01 11 pm" src="https://cloud.githubusercontent.com/assets/5990387/24791435/a7c1d3ee-1bac-11e7-819b-51ab830d7729.png">

[2017-04-07 09:47] rajasimon commented on #18
It's differentiate with lighter colour. I attached the correct image. Do you have any suggestion to improve this behaviour?

![screenshot from 2017-04-07 15-04-33](https://cloud.githubusercontent.com/assets/6974101/24794834/be9e38d0-1ba4-11e7-85c0-46ec9a9a9627.png)

[2017-04-07 10:59] rajasimon commented on #17
If it's good to have slight differentiate between Activity Bar and Side Bar.

**Before**

![screenshot from 2017-04-07 15-50-39](https://cloud.githubusercontent.com/assets/6974101/24796310/25337236-1baa-11e7-8f32-60783b106940.png)

**After**
![screenshot from 2017-04-07 15-51-39](https://cloud.githubusercontent.com/assets/6974101/24796335/35694c66-1baa-11e7-9531-b86b92e4cf14.png)

I made above cha

[2017-04-07 13:58] 23doors opened #19 "Workbench theming - terrible contrast on debug menu"
![image](https://cloud.githubusercontent.com/assets/1051101/24803180/b06c4b52-1baa-11e7-8116-e55932f453ec.png)

Especially "play" sign due to lack of border looks pretty terrible. Screenshot doesn't give it full justice to be honest.

Otherwise very good job on workbench theming! Although I would also suggest slightly better contrast on file tabs.

[2017-04-07 14:44] dsifford commented on #19
@23doors Yikes, you're right. That's pretty bad!

I'll get that fixed.

[2017-04-07 14:48] dsifford commented on #17
@rajasimon Good point.

I don't think there's currently a way to give a right border to the sidebar. I can adjust the background to be slightly different than the editor background color however.

Right now, the UI theming is a lot of guesswork. It's not documented anywhere yet.

[2017-04-07 16:01] dsifford commented on #18
@nguyenhuumy @rajasimon This might be something that we'll have to just live with until Microsoft documents the available textmate scopes. The latest update undid a bunch of useful scopes that we had previously (I assume they've just been renamed, but I'm not sure what those names are for now).

[2017-04-07 16:45] #18 closed

[2017-04-07 16:45] #19 closed

[2017-04-09 13:29] beefsack commented on #17
@dsifford I think it might be worth closing this ticket as you've already (impressively) added support for the undocumented API. We can open new tickets down the road if the IDE changes or if any of us have PRs going forward.

[2017-04-09 13:29] #17 closed

[2017-04-15 22:54] 23doors opened #20 "Inconsistent bottom bar color"
Dunno if this is a bug in new workbench theming or if there is some missing property, but when I simply open a new window (File->New Window) I get as expected this in bottom bar:
![image](https://cloud.githubusercontent.com/assets/1051101/25067301/325d21dc-223f-11e7-9f28-2be1d964f907.png)

But when I open a directory (File->Open->dir), bottom bar looks like this:
![image](https://cloud.githubuserc

[2017-04-16 02:35] #20 closed

[2017-04-16 02:36] dsifford commented on #20
@23doors Thanks for pointing that out! Fix has been pushed out.

[2017-04-17 18:43] DanielRamosAcosta opened #21 "Counterintuitive tab highlight in 1.10.0"
⚠️ This is just an opinion, I know dracula has fixed colors.

With the current theme it's hard to see wich tab is selected:
![current theme](https://cloud.githubusercontent.com/assets/11427028/25099654/22209256-23a5-11e7-8ea6-80451d0de496.png)

I think that something like this is more intuitive(not necessarily this):

![alt theme](https://cloud.githubusercontent.com/assets/11427028/25099738/7085ef

[2017-04-17 20:19] dsifford commented on #21
@DanielRamosAcosta Opinions are very welcome!

Did you mock up your images using the theme files or is it a photoshop? If it's the former, care to send a PR?

[2017-04-17 21:42] DanielRamosAcosta commented on #21
This is my config in VS Code! I'll do a PR 😄

[2017-04-17 22:53] #21 closed

[2017-04-23 22:59] ajitid opened #23 "Cursor (caret) color"
[Feature Request]
Don't you think that giving fuchsia color to cursor will make it more Dracula type?
If yes, then please give it in the next release! 😍

[2017-04-24 03:15] dsifford commented on #23
@ajitid Because it's non-standard and to some may be visually striking, I can't add that to the theme itself.

......but!

You can enable the pink cursor for yourself by adding the following to your User Settings:

[code]

Hope that helps! Thanks for the feedback! 😄

[2017-04-24 03:15] #23 closed

[2017-04-24 03:17] ajitid commented on #23
I've done that experimental color customisation already. Thanks!

[2017-04-25 08:11] ajitid opened #24 "Expand selection to quotes"
VS Code has this nice expand selection feature. While expanding selection, Dracula include quotes (maybe because it gives same color to the quotes) but other themes like Nord and Material Theme (Mattia's one) does not. Everytime when I need to clear out anything inside a quote and replace it with something, putting those quotes again gives me another step. Can you fix that?
![drac](https://cloud.g

[2017-04-25 19:21] dsifford commented on #24
@ajitid Very strange! Not totally sure why that would be happening, but I'll look into it. Thanks for reporting👍

[2017-04-25 21:30] dsifford commented on #24
@ajitid Yep, this looks like it's a bug with vscode itself.

Just tried changing the colors of the quotes and it fixes the issue. Could you open an issue with vscode about this?

Scopes of interest:
- `punctuation.definition.string.begin`
- `punctuation.definition.string.end`

When set to a different color than `string`, it expands correctly. When set to the same color, it does not.

Thanks a bunc

[2017-04-25 21:35] ajitid commented on #24
Can you please tell me what exactly I needed to write in issue? Actually I'm totally new to GitHub and and everything. 😅 So can you please report this issue rather than me doing it. Thanks!

[2017-04-25 21:47] ajitid commented on #24
Okay I'm putting this issue to VS Code. Will you change the color of quotes in next Dracula update or have I need to wait for VS code team to make changes?

[2017-04-25 22:32] dsifford commented on #24
Thanks! Let's hold off until we hear back from VSCode.

[2017-04-26 09:59] ajitid commented on #24
They just marked it as a duplicate and closed the issue. The issue for which they marked this one as a duplicate is open for one year. Now what?

[2017-04-26 19:37] #24 closed

[2017-04-28 01:59] ajitid commented on #12
Please add different color for escape characters. Python, HTML, C/C++,  I found it nowhere. :-/

[2017-04-28 12:12] 23doors opened #25 "Update preview screenshot"
Current screenshot is far from the actual results and is much worse than what people are getting with this theme. As a result some people may just not give it a chance ;)

Current:
https://camo.githubusercontent.com/d695efd1815607a9056ea5817501adc0a63632ca/68747470733a2f2f64726163756c617468656d652e636f6d2f6173736574732f696d672f73637265656e73686f74732f7673636f64652e706e67

My screenshot with more o

[2017-04-28 15:09] dsifford commented on #25
Looks good to me! Could you open a PR with the fix? Thanks 😊

[2017-04-28 15:11] 23doors commented on #25
Seems that current image is hosted here: https://draculatheme.com/assets/img/screenshots/vscode.png - is it also somewhere on github? Doesn't seem to be a part of this repo.

[2017-04-28 15:14] dsifford commented on #25
Yes, the main location for the images is https://github.com/dracula/dracula.github.io

[2017-04-28 15:25] 23doors commented on #25
Created PR https://github.com/dracula/dracula.github.io/pull/37

[2017-04-28 17:15] #25 closed

[2017-04-28 17:46] zenorocha commented on #25
Thanks guys!

[2017-04-28 17:48] 23doors commented on #25
FYI, seems that github is still keeping cache for their markdown readme though:
https://github.com/dracula/visual-studio-code/blob/master/README.md
dunno what's the ttl (if any) on that

[2017-04-28 17:49] dsifford commented on #25
@23doors I'm seeing the fresh image here on my end

[2017-04-28 17:50] 23doors commented on #25
@dsifford cool. I still see cached version here but that just means that it will refresh eventually ;)

[2017-04-28 19:41] dsifford commented on #12
@ajitid Added to `v1.12.0`. Good suggestion 👍

[2017-04-28 19:42] dsifford commented on #14
Gonna close this down for now due to lack of activity. If you have any further suggestions, feel free to reopen or send a PR.

[2017-04-28 19:42] #14 closed

[2017-04-28 21:52] ajitid commented on #12
You still missed to add it for HTML. I typed &mdash but saw no change.

[2017-04-28 21:54] dsifford commented on #12
That's not an escape character, that's an HTML entity

[2017-04-30 17:46] dsifford commented on #12
@ajitid Added html entity highlighting in 1.13.0.

[2017-04-30 21:33] ajitid opened #26 "Escape character issue in Python"
Check screenshot...
![capture](https://cloud.githubusercontent.com/assets/26769888/25568158/a40d75d4-2e1a-11e7-8ddc-3f2ef0c9763a.PNG)

[2017-04-30 23:13] dsifford commented on #26
@ajitid You are the master at finding inconsistencies!

Looks like the top example you gave is an issue with the textmate scope and not the theme. When typed exactly as you wrote it, the inner string is scoped as a regexp, which is why the `\E` and `\n` are highlighted as escape sequences.

I could fix that one singular issue, but by doing that I'd be breaking several other things. So the real fix

[2017-04-30 23:13] #26 closed

[2017-04-30 23:25] ajitid commented on #26
I don't know much about theming, but other themes don't highlight escape characters in raw string.
I know \E is not an escape character.

I don't know whether I'm helping you or annoying you, but I like Dracula theme, and that's why so many issues 😅.

[2017-05-01 00:16] dsifford commented on #26
I know \E is not an escape character.

Yeah, unfortunately with the python textmate scopes, you either get highlighted escape characters or you don't; the scope is the same either way.

Additionally, `\E`, `\Q`, `\B`, `\X`, and anything in between is counted as an escaped character with the current textmate scopes, whether they are valid or not. The issue is the non-specific selectors used in the

[2017-05-04 19:03] Eric-Jackson opened #27 "Not Working on 1.12.0"
Workbench styling isn't present in the latest release. I'm sure this is just some simple updates but I wanted to make sure it wasn't a bug on my end.

![screen shot 2017-05-04 at 3 03 15 pm](https://cloud.githubusercontent.com/assets/1268260/25720424/d526e21e-30da-11e7-9043-93a2afc53db3.png)

[2017-05-04 19:26] dsifford commented on #27
Thanks for the info!

Still waiting for the update to trickle down to my package manager. I'll get a fix out one that happens. 👌

[2017-05-04 20:12] Eric-Jackson commented on #27
@dsifford Went ahead and updated this, probably will need some QA!

[2017-05-04 21:06] #27 closed

[2017-05-04 21:11] 23doors commented on #27
@Eric-Jackson @dsifford thanks for a quick fix! much appreciated

[2017-05-04 21:17] dsifford commented on #27
@23doors All credit goes to @Eric-Jackson 😄

PS, to anybody who might be reading this: There are probably double the amount of UI selectors available to style now with the latest update, so if somebody feels like improving the UI theme, PRs are very much welcomed!

[2017-05-05 15:48] brentluna opened #30 "Darker shades?"
Any chance of adding a 2nd shade option w/ slightly flatter colors? I love the combination, of colors, but can be a bit too bright on the eyes for me personally. Just a suggestion, understand if you're not interested.

[2017-05-05 15:51] dsifford commented on #30
@brentluna Yep, I'm open to that. How about collaborating with @Eric-Jackson on #29?

[2017-05-05 15:53] dsifford commented on #30
Are you talking about the _entire_ theme  or just parts of the UI? The theme is locked to the Dracula scheme. UI is a bit more flexible.

If you're looking for a darker theme, I beleve there's a few forks available in the marketplace.

[2017-05-07 13:08] matt3224 commented on #12
Hey, can we colour php html better, so that php tags and vars and text content in html tags have different colours, as currently they are all white.

![screen shot 2017-05-07 at 1 52 30 pm](https://cloud.githubusercontent.com/assets/2401925/25781206/9559800a-332e-11e7-9ced-1905497c4932.png)

Thanks!

[2017-05-07 14:32] matt3224 commented on #30
@dsifford Here's a quick comparison with the dracula coda theme which is much easier on the eyes and has better highlighting imho

![screen shot 2017-05-07 at 3 03 27 pm](https://cloud.githubusercontent.com/assets/2401925/25782037/5b4517e2-333a-11e7-8805-4469faaaf76c.png)

[2017-05-07 15:45] dsifford commented on #30
@matt3224 Coda is doing something behind the scenes to soften the color of that theme. I checked the [theme repo](https://github.com/dracula/coda) and it is definitely using the same color that the rest of the official dracula themes are using for the background color.

Unfortunately, there's nothing I can do to fix that in this repo because I'm bound to the Dracula spec.

You have two options tho

[2017-05-07 16:03] dsifford commented on #12
@matt3224

![image](https://cloud.githubusercontent.com/assets/5240018/25782647/0d519fbe-331d-11e7-90fb-638cde947d46.png)

Acceptable? Any color suggestions?

[2017-05-07 16:09] dsifford commented on #12
^not totally sold on this by the way. It's sort of a disaster in a real-world scenario

![image](https://cloud.githubusercontent.com/assets/5240018/25782701/fff5231c-331d-11e7-90c2-d79b60d0e79e.png)

[2017-05-07 18:09] matt3224 commented on #12
Is it a disaster due to the nested tags? red is a little jarring tough to pick a colour though!

[2017-05-07 18:22] dsifford commented on #12
Just seems like too much chaos. Color looks like it's peppered in without much regard in the snippet I shared (which may or may not also be due to the chaos of the snippet).

Open to your ideas though @matt3224

[2017-05-07 18:32] matt3224 commented on #12
Looking at the coda variant its more pink and html tags are all pink, which is less madness but perhaps we make it so php tags are the purple, vars in white and make the whole of the html tag including the arrows and forward slash the pink?

That combo may look more succinct... perhaps 😉

![screen shot 2017-05-07 at 7 28 11 pm](https://cloud.githubusercontent.com/assets/2401925/25783894/b9dfc0c4-3

[2017-05-08 15:19] zyxneo opened #31 "Color contrast of selection / match / search result"
Hi!

First I like to say, that I love this theme.

It will be nice, if you can somehow improve the contrast in any "search result", even the matches by selecting words. On some monitors it is almost invisible:
![low-contrast-highliht](https://cloud.githubusercontent.com/assets/1773130/25810548/b799df4c-3410-11e7-90b8-a37ab1275dc8.jpg)
If it is visible, than still hard to decide, which is the selec

[2017-05-08 16:14] jsehull commented on #31
Agreed, I am definitely looking forward to an update on this (poor word/line highlights/recognition was one of the reasons I tried to find a different theme, but not anymore!)

The 1.15.0 has a nice border on the cursor line...maybe borders are easier across languages as well?

Keep up the good work @dsifford, I've been ecstatic looking forward to the updates on the theme I've been using for maybe

[2017-05-08 17:02] brentluna commented on #30
@dsifford I'm not familiar w/ theming  code, but noticed that it basically had key value type system  w/ hex colors, my basic thought was taking those  hex colors and basically finding the next shade darker to bring down the neon factor just a bit. I know some themes come packaged w/ multiple versions, such as dark/light or different shades, so wasn't sure if that was possible w/ dracula.

The dra

[2017-05-08 17:04] dsifford commented on #30
Can you give me an example of one of these themes? I'm not familar with how to do that.

[2017-05-08 17:23] dsifford commented on #31
@zyxneo @jsehull Pushing out an update here in a sec that makes small adjustments to try and improve this.

The tricky part is that VSCode doesn't allow changing the foreground color of matches so it's difficult to find colors that work with the light colors of the code.

I dialed up the intensity of the non-active selection color, dialed down the intensity of the rangeSelection color (line of act

[2017-05-08 17:24] #31 closed

[2017-05-08 17:26] dsifford commented on #12
@matt3224 Let me mull this over some more and get back with you. I'd prefer to keep the html tags as-is because it currently matches its JSX counterpart (and I personally like the look of the white slash).

I think you're on the right track though. I'll play around with it some more this week and report back with some ideas.

[2017-05-08 17:27] matt3224 commented on #12
Great, thanks @dsifford

[2017-05-08 17:49] Eric-Jackson commented on #30
https://marketplace.visualstudio.com/items?itemName=tomphilbin.gruvbox-themes

[2017-05-08 18:27] dsifford commented on #30
Thanks @Eric-Jackson! Super helpful.

I'll check this out later this evening.

[2017-05-09 01:18] dsifford commented on #30
Alright I think I got it figured out.

For now, I think we could start by including the standard theme and a single "Dracula Soft" variant.

Here's a comparison of the two:

![comparison-gif](https://media.giphy.com/media/3og0ItXb4s5yE5aQxO/giphy.gif)

### Higher resolution comparison

**Standard:**

![standard](https://cloud.githubusercontent.com/assets/5240018/25831693/d98db7e0-3433-11e7-8839-21

[2017-05-09 01:23] dsifford commented on #30
Actually, I think this might be better:

Brightened by 8%, desaturated by 3%, darkened by 5%

![image](https://cloud.githubusercontent.com/assets/5240018/25831808/8347395a-3434-11e7-9635-1da1fcb8a75d.png)

[2017-05-09 14:05] jsehull opened #32 "improve time legibility in terminal"
The terminal _time_ is rather difficult to read for me:

![image](https://cloud.githubusercontent.com/assets/9935383/25854410/e08e4c02-349d-11e7-964b-67b72774b6b6.png)

Dark is fine, but lighter would be nice. I think this is the current color is:
![image](https://cloud.githubusercontent.com/assets/9935383/25854135/01ac612c-349d-11e7-9d93-b2c5c304a3a3.png)
where the only other dark color has a bro

[2017-05-09 20:06] dsifford opened #33 "Search result match illegible over purple tokens"
![image](https://cloud.githubusercontent.com/assets/5240018/25870261/772210a8-34d1-11e7-91e5-c3d7daeb9f30.png)

[2017-05-10 11:41] zyxneo commented on #31
Hi!

Many thanks for the quick fix. I have forget to give some proper examples, so I do it now:

So I search for word "imgs/foo":
![foobar-search](https://cloud.githubusercontent.com/assets/1773130/25896003/abdbc5a8-3582-11e7-9bb0-7b57a78db510.png)
Notice, that selection works as expected, it is fine.

Than I select the "png":
![foobar-select-png](https://cloud.githubusercontent.com/assets/1773130

[2017-05-10 11:44] zyxneo commented on #31
And I even have forget the automatic selection of string between quotes... So there are so many things to care... Therefor, I totally understand if there is no way to make secure changes... But still, nice to have :)

[2017-05-10 16:02] dsifford commented on #31
@zyxneo Thanks for the feedback. This is definitely a pain-point with the limited options available from VSCode.

If you'd like, you can try playing around with some combinations in your own theme by adding the following to your User Settings:

[code]

[2017-05-10 16:09] dsifford commented on #30
Any thoughts on this @brentluna @matt3224?

[2017-05-10 16:17] matt3224 commented on #30
@dsifford Yes! These look good, I think you could retain the original background colour though maybe, it seems yellowy.

Would be interesting to test it and see if my eyes approve after a coding session!

[2017-05-10 16:46] brentluna commented on #30
@dsifford Awesome, I think it looks like a good start! My first thought would be to not keep the original background, but that is easily changeable enough w/ VS's new theme settings, so not a huge deal on that specifically.

Looking forward to trying it out.

[2017-05-10 16:52] matt3224 commented on #30
@brentluna hmmm actually, I have set mine to a custom shade already so by "retain the background colour" what I mean is.. try this `#303241` 🙃

[2017-05-10 18:21] dsifford commented on #30
@brentluna @matt3224 How about we just try the one I mentioned above as a starting point. I'd like the stay on the path of only messing with the saturation, brightness, and lightness so that the hues stay where they're supposed to be and so that everything adjusts in unison.

After a day or two of kicking the tires we can revisit and see what adjustments can be made from there. Sound fair?

@matt3

[2017-05-10 18:25] matt3224 commented on #30
Ah ok, no worries. Do you need to commit or are you distributing in some other way?

[2017-05-10 18:27] brentluna commented on #30
@dsifford I agree, I like the general color scheme, just was hoping to tone down the neon factor a bit. Looking forward to you pushing the commit

[2017-05-10 18:54] #32 closed

[2017-05-11 11:23] zyxneo commented on #31
Thank you @dsifford !

And also "Keep up the good work!"

[2017-05-11 14:42] nico-onmap opened #34 "Highlight search results background color makes text barely readable"
When doing a search in files, matches are highlighted using a yellowish background color that makes the text very difficult to read:

![vscodedracula](https://cloud.githubusercontent.com/assets/26772786/25955133/a7ae0c7a-3668-11e7-9413-7e26b4e16c1d.png)

This happens on Windows 10, VSCode 1.13.0-insider (commit 5057c95e), dracula 1.16.0

[2017-05-11 14:44] nico-onmap commented on #34
For comparison, here is the background color used for normal (mouse) text selection:
![vscodedracula2](https://cloud.githubusercontent.com/assets/26772786/25955265/0ba84fce-3669-11e7-99f2-cea96759cba2.png)

[2017-05-11 18:47] dsifford commented on #31
Thanks! Let me know if you come across a combination of colors that works well and I'll give it a shot 😄

[2017-05-11 18:48] dsifford commented on #34
Thanks for the report. This is a dupe of #33. Closing this one in favor of that one.

[2017-05-11 18:48] #34 closed

[2017-05-13 01:13] ajitid opened #35 "Coloring heads-up notification"
I don't know what it is actually called I say it heads-up notification, what I know is that it can be colored.

Solarized Dark:
![screenshot 187](https://cloud.githubusercontent.com/assets/26769888/26021225/3a7ceac8-37a7-11e7-9641-b23cf3d2ad08.png)

Nord:
![screenshot 186](https://cloud.githubusercontent.com/assets/26769888/26021228/43b46eb8-37a7-11e7-9be5-4a7282280664.png)

Dracula:
![screenshot

[2017-05-13 01:26] ajitid opened #36 "Solution to Python raw strings"
You were right back then about escape characters in Python for raw strings.
But I found out how other themes are tackling it...

Nord
![screenshot 192](https://cloud.githubusercontent.com/assets/26769888/26021324/a2f2dbca-37a8-11e7-8f9f-3ee2cf84b683.png)

Material theme
![screenshot 193](https://cloud.githubusercontent.com/assets/26769888/26021330/b15bdef0-37a8-11e7-979c-7ec8adfb2fa0.png)

Dracula

[2017-05-13 01:28] dsifford commented on #36
Thanks @ajitid!

I'm actually doing some theme housekeeping right now so I'll give this a look in a few 😄

[2017-05-13 01:32] ajitid commented on #36
I'm in no rush

[2017-05-13 01:41] ajitid opened #37 "Other small details"
Its about intent guides and and current line highlighting.

Intent guides can get some Dracula feel rather than any shade of black.
Current line can also be highlighted in a more modern way by coloring whole line rather than giving thick outline to it.

Solarized Dark:
![sol dar](https://cloud.githubusercontent.com/assets/26769888/26021463/4d567fac-37ab-11e7-9e75-317d92801abe.png)

Nord:
![nord](h

[2017-05-13 16:53] dsifford commented on #37
Thanks for the suggestions @ajitid

I'm happy with the color of the indent guide. I tried playing with it in the past and it always seemed that if I adjusted it from default it either became too much of a distraction or not noticeable enough. Gonna keep as-is for now.

Re: The line highlight suggestion -- The theme actually used to highlight the line the way you're suggesting, but it became too di

[2017-05-13 16:53] #37 closed

[2017-05-13 19:09] #33 closed

[2017-05-13 19:09] #35 closed

[2017-05-13 19:09] #36 closed

[2017-05-18 17:06] joaoevangelista opened #38 "Support for symbols (ruby), atoms (elixir) and keys in general"
Since symbols, atoms and keys (`:foo`, `bar:  "a value"`, `key: :atom`) are important part of the languages (ruby, elixir, maybe others?) they could have a dedicated highlight color instead of plain white, which does not provide any relevance for the syntax highlight, e.g.:

Using Code 1.12.2 & Dracula 1.17.0

Elixir:
<img width="340" alt="ex" src="https://cloud.githubusercontent.com/assets/525671

[2017-05-18 17:10] joaoevangelista opened #39 "Support Elixir function parameters with orange color"
The default color as I see for parameters on Dracula is the orange, with ruby as example:

<img width="229" alt="ruby" src="https://cloud.githubusercontent.com/assets/5256711/26214674/a0274690-3bd3-11e7-89fb-21eb98b7bc21.PNG">

But in Elixir the parameters are white:
<img width="302" alt="ex param" src="https://cloud.githubusercontent.com/assets/5256711/26214696/b207577e-3bd3-11e7-96a1-6fd9258b988

[2017-05-18 17:24] joaoevangelista commented on #39
[Here](https://github.com/fr1zle/vscode-elixir/tree/master/syntaxes) is the syntax file for the languages the most popular plugin for elixir supports and the names for each match it does, I think that will be useful

[2017-05-19 00:31] dsifford commented on #30
Haven't heard back on this so I'm gonna assume we're all good and you both are satisfied with the current `Dracula Soft` implementation.

Feel free to reopen this if not.

[2017-05-19 01:18] dsifford commented on #39
Thanks for the report.

Doesn't look like I'll be able to make the elixir syntax have orange params because the syntax has no scope for it. All function definition params are scoped to `source.elixir`.

The only way I'd be able to add it is if the maintainer adds the scope for it.

[2017-05-19 01:29] dsifford commented on #38
@joaoevangelista Yep, my thoughts mirror yours. Getting everything uniform is on my todo list.

The plan for now is to make sure all the core languages match the most complete language that I have done (typescript) and then once that's done, I'll probably go in and spot-fix things as needed.

I'm going to probably start a scope->color mapping list in #12 when I get some free time and can commit a

[2017-05-19 08:43] matt3224 commented on #30
Hey @dsifford sorry, hectic week.

I've used it all week and do feel that there is room for improvement. I feel that the background is too black, i feel it needs to be more blue and a touch lighter, second to that the text colours are still too harsh (i literally stare at this all day).

[2017-05-19 13:35] ajitid opened #40 "Theme improvements"
Can you make Dracula theme more minimal by making just one change &mdash; "activityBar.background": "#21222C" ?

![capture](https://cloud.githubusercontent.com/assets/26769888/26249865/bddde8f4-3cc5-11e7-934a-760284615ab2.PNG)

[2017-05-19 14:49] brentluna commented on #30
I do agree on the actual syntax color, that it in my opinion it seems to have been too small of a chamge, especially with the green that is still extremely bright and seems to often be the primary color.

[2017-05-19 15:38] joaoevangelista commented on #39
I'll see what I do for that on vscode-elixir repository. I created a small language support using the tmLanguage files that elixir team support and the parameters work.

[2017-05-20 17:37] ajitid commented on #40
![screenshot 212](https://cloud.githubusercontent.com/assets/26769888/26278073/fc134aec-3db0-11e7-83e9-3a3c563bfa82.png)

Can't this intellisense suggestion be colored?

[2017-05-20 17:45] ajitid commented on #40
https://github.com/Microsoft/vscode/issues/25966
Ability to change color of selection of fields like find and replace
Please add this one once this customisation becomes available.

[2017-05-21 21:54] dsifford commented on #30
@brentluna  @matt3224 Feel free to send a PR, keeping in mind that I'm still pretty firm on keeping the hues where they're supposed to be.

[2017-05-21 21:55] dsifford commented on #39
@joaoevangelista Where is that `tmLanguage` file located? Is it not part of their main language repo?

[2017-05-22 21:10] joaoevangelista commented on #39
They are located [here](https://github.com/elixir-lang/elixir-tmbundle) under their organization. I tested it out converting directly form the bundle but I could not get better results, yes the parameters work, so the theme is ok. The real problem is that parameters works, but for vscode compat there is alot of other highlight issues witht the tmbundle, so I gave up. Then I went to check the regex

[2017-05-22 21:26] dsifford commented on #39
@joaoevangelista Is the vscode elixir repo accepting PRs? Adding scope for function params shouldn't be too difficult. Happy to help if needed.

[2017-05-22 22:00] joaoevangelista commented on #39
They are, but as I digged in, the problem is at the regex they use to capture the params, located here (here)[https://github.com/fr1zle/vscode-elixir/blob/master/syntaxes/elixir.json#L113] I tried to apply the regex from the tmLanguage file but I got the first `(` matching, lol

[2017-05-22 23:33] dsifford commented on #39
@joaoevangelista Hmm, I see.

I'll take a look at this in a bit. Looks like you might just be able to add a third capture group to that group that you linked to and it should work.

[2017-05-23 15:45] dsifford commented on #39
@joaoevangelista Just spent 30 mins or so on playing around with the elixir tmLanguage file from that repo and unfortunately, the author didn't scope it in a way that will allow someone to easily add in support for the `variable.parameter` scope. There is a trove of scope overlaps and it's just an absolute nightmare to try and work through.

The "fix" would be a refactor of that language file, but

[2017-05-23 15:46] #39 closed

[2017-05-23 16:02] joaoevangelista commented on #39
No problem at all! Thanks for all support! ❤️

[2017-05-27 00:39] ajitid commented on #40
Don't want to add up your work

[2017-05-27 01:06] dsifford commented on #40
@ajitid Hey, sorry for the radio silence! Went on vacation last weekend and forgot about this.

I'm actually working on getting #12 finished tonight and tomorrow so I'll be able to address the things you brought up.

### To comment on them individually:

#### Activity bar background

I actually sort of like it where it is and the feedback I received when I initially made the change all sounded lik

[2017-05-27 01:11] ajitid commented on #40
Okay, for intellisense you'll need to add a new property
https://github.com/Microsoft/vscode/issues/26671

[2017-05-27 01:21] dsifford commented on #40
@ajitid Awesome, that's a huge help. Thanks!

[2017-05-27 01:30] dsifford opened #41 "Add soon-to-be-released UI selectors"
(Pending May 2017 Stable release)

- [x] [Parameter hints](https://github.com/Microsoft/vscode/issues/26671)
- [x] [Warning/error squiggles](https://github.com/Microsoft/vscode/pull/27053)
- [x] [`contrastBorder` overrides](https://github.com/Microsoft/vscode/issues/26530)
- [x] [`selection.background`](https://github.com/Microsoft/vscode/pull/26093)

[2017-05-27 01:33] dsifford commented on #40
@ajitid Closing this in favor of #41 ... Put anything else related to the May stable release there. 👍

[2017-05-27 01:33] #40 closed

[2017-05-27 01:38] dsifford commented on #38
@joaoevangelista Here's what I think the solution is going to come down to....

![image](https://cloud.githubusercontent.com/assets/5240018/26516852/4438a0c0-425b-11e7-9513-008f361afa5e.png)

(In case you missed it, I added the pink color to the colon)

In this particular example, I agree that maybe the cyan colored key would look better. But globally, it's a bit too much for non-data languages (e

[2017-05-27 01:46] joaoevangelista commented on #38
Ooooh Yeaaah!! This way with only the colored colon will rock!! Specially when both key and value matches
Thank you for that

[2017-05-27 03:08] ajitid opened #42 "Color status bar highlight"
Don't know what it is called.

Steps:
1. Press Ctrl+M to see "Tab moves focus" in status bar. This isn't colored.
2. Press Ctrl+M to hide it back again.

![capture](https://cloud.githubusercontent.com/assets/26769888/26517494/5c7efcd6-42b7-11e7-92e5-6ddf25edda84.PNG)

**Solution** is using statusBarItem.prominentBackground and statusBarItem.prominentHoverBackground

[2017-05-27 15:48] dsifford commented on #42
Good catch. I couldn't figure out what those things were for so I didn't color them. 👍

[2017-05-28 16:32] dsifford commented on #12
RFC submitted here: https://github.com/dracula/dracula-theme/issues/232

Fully standardized and spec-compliant implementation of this theme will land on the next release. 👍

[2017-05-28 16:32] #12 closed

[2017-05-28 21:48] #38 closed

[2017-05-28 21:48] #42 closed

[2017-05-29 00:07] ajitid commented on #36
New syntax highlighting in 2.0 breaks this again and I don't want to create a new issue for this small thing. Please fix it. Thanks. Your work is great to uniform Dracula. Thanks!

[2017-05-29 00:25] dsifford commented on #36
@ajitid Yeah, that was intentional.

I did some reading into the Python documentation on this. There's very, very few reasons to ever use the `r"` pattern other than with regular expressions.

According to the docs:

Finally, the textmate language uses the `r"` exclusively for regular expressions. So, in an effort to make people's lives who depend on regular expressions in python easier, I opted t

[2017-05-29 00:41] ajitid commented on #36
If that's for regex then I won't ask you to change it again.

In Windows for navigation from current path I would do
`nav = os.getcwd() + r"\new\another\anotherone"`
which makes it a little clean.

[2017-05-29 00:45] ajitid commented on #36
Leave it. Thanks again for updating theme so quickly. I don't know but I think changing syntax highlighting for all languages takes quite much time

[2017-05-29 00:52] dsifford commented on #36
Ah, yeah sorry about that. Windows is a drag sometimes..

Another way you could go about it without using `r"` and without escaping the path (`\\new\\another\\anotherone`) would be this...

[code]

Benefit there would be that it would work across all platforms.

[2017-06-07 01:36] ajitid commented on #41
terminal.background
![dbq0db-vwaasiqd](https://user-images.githubusercontent.com/26769888/26858459-f8a7b130-4b4e-11e7-93ee-98f370ec1edb.jpg)

[2017-06-09 03:57] #41 closed

[2017-06-09 17:00] 23doors opened #43 "vscode 1.13 install button"
1.13 seems to have added some new workbench theming api.
Everything seems fine (from what I experienced) except for `install` extension button.

![image](https://user-images.githubusercontent.com/1051101/26985893-c72c7444-4d45-11e7-86f4-9897e84af8a3.png)

Terrible for your eyes ;)

[2017-06-09 17:05] dsifford commented on #43
Yiiiiiikes! Didn't notice that!

Thanks for the report.

[2017-06-09 18:00] #43 closed

[2017-06-10 01:13] ajitid commented on #41
Please remove terminal.background in next release. Thought it would look good, but it doesn't.

[2017-06-14 10:37] rajasimon commented on #43
@dsifford I can't update the extension because of the proxy. I tried to update Dracula by latest vsix but somehow it's not updating to v2.1.1

Is the latest vsix correctly updating to v2.1.1 ?

[2017-06-14 10:44] 23doors commented on #43
@rajasimon You can download vsix manually and install it in vscode through File->Open.
https://dracula-theme.gallery.vsassets.io/_apis/public/gallery/publisher/dracula-theme/extension/theme-dracula/2.1.1/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage

[2017-06-14 10:58] rajasimon commented on #43
@23doors Thanks that helps

[2017-06-22 18:17] jaredreich opened #45 "Feedback for Dracula-Soft"
Love this theme, great work.

I'm wondering if we could perform more "softening" for Dracula-Soft. I feel like it's still very neon and painful on the eyes.

Perhaps more desaturation?

[2017-06-23 02:41] dsifford commented on #45
Thanks @jaredreich

I noticed this as well a few days ago when I was using the theme on a macbook. Huge difference in color intensity between the macbook screen and the screen on my daily linux machine!

I'm going to reopen #30 to track this. Care to chime in there? There's a couple other people there that were also interested in fixing up the soft variant. Maybe we can all put our heads together

[2017-06-23 02:41] #45 closed

[2017-06-23 02:42] dsifford commented on #30
Reopening this from comments received in #45

[2017-06-23 13:39] jaredreich commented on #30
I think Dracula-Soft could use more desaturation. On my macbook retina screen it can be very hard on the eyes at higher screen brightness levels. I think the whole point of Dracula-Soft is to give people the same color scheme but keep it easier on the eyes, so maybe a bit more desaturation is all it needs :)

[2017-06-26 19:53] dsifford commented on #30
@jaredreich (et al)

Finally got a few minutes to sit down with a mac and hammer out a better soft implementation. I ended up just heavily desaturating the brighter colors and leaving the darker/softer colors (backgrounds, whites, etc) as-is.

Gonna push out a quick update with just those changes here in a few. Let me know what you think.

I'll leave this issue open until I hear back.

[2017-06-26 20:08] jaredreich commented on #30
@dsifford Awesome, so great to hear, thanks! I see the published release here on GH, but I'm not sure how to test this locally, will the update be on the official extension?

[2017-06-26 20:11] dsifford commented on #30
Yep, I pushed out the update to the extension marketplace about 5 minutes ago. Should show up for you shortly. 👍

[2017-06-26 20:11] jaredreich commented on #30
@dsifford The update just showed up for me in VSCode... Awesome work! The changes are perfect, much easier on the eyes while keeping the color palette. Hope this works out for everyone else using the theme.

[2017-06-26 22:36] ajitid commented on #30
I'm on Windows and I'm not able to find even a single difference between Dracula and Dracula soft:

![screenshot 166](https://user-images.githubusercontent.com/26769888/27563204-efe60e1c-5aed-11e7-8ce4-6dee609aa124.png)

![screenshot 167](https://user-images.githubusercontent.com/26769888/27563190-ddbe521c-5aed-11e7-999b-24bf3eec8a04.png)

[2017-06-26 22:43] ajitid commented on #30
I'm on Windows and I am not able to find any difference between Dracula and Dracula Soft

![screenshot 166](https://user-images.githubusercontent.com/26769888/27563372-daa6a466-5aee-11e7-9b6a-e4d0d23ed1f5.png)

![screenshot 167](https://user-images.githubusercontent.com/26769888/27563389-f1bbd55e-5aee-11e7-999f-979b0e285f5c.png)

[2017-06-26 22:47] ajitid commented on #30
I'm on Windows and I'm not able to find any difference between Dracula and Dracula Soft

![screenshot 166](https://user-images.githubusercontent.com/26769888/27563472-7834f35e-5aef-11e7-9a2c-b1a4c71f9d8a.png)

![screenshot 167](https://user-images.githubusercontent.com/26769888/27563473-7839be20-5aef-11e7-9cd5-b2288aef5dec.png)

[2017-06-26 22:48] jaredreich commented on #30
@ajitid I can tell the slight desaturation difference between your two screenshots. Must be the screen you're using.

[2017-06-26 22:49] ajitid commented on #30
I too saw that. Can you open each screenshot and check it again?

[2017-06-26 22:52] dsifford commented on #30
@ajitid That's expected. Macbooks or iMac displays make the brighter colors of the theme much more intense and hard on the eyes. The goal of the soft variant was to target that issue specifically.

I'm really not wanting to stray too far from the standard Dracula theme otherwise. Having said that, if more people speak up about it, I'll consider a happy medium between the old soft theme and the new

[2017-07-12 05:19] ajitid opened #46 "Recolor heads-up notification"
VS Code 1.14 breaks colors of label and button of heads-up notification
![capture](https://user-images.githubusercontent.com/26769888/28102838-8f5210c4-66ef-11e7-8814-3562588eaad2.PNG)

New keys are in this issue: https://github.com/Microsoft/vscode/issues/28280

------------------------

Can you also revert terminal's background color? Output, Problems and Debug Console all having same bg color b

[2017-07-13 00:55] dsifford commented on #46
Thanks for the heads up (pun intended!)

I'll try to get to this soon. Going to also implement the terminal color adjustments that were suggested in https://github.com/dracula/dracula-theme/issues/232

[2017-07-15 08:14] ajitid commented on #46
1.14 has introduced keyboard shortcuts as buttons in command palette, maybe there exists some keys for it too...

![screenshot 216](https://user-images.githubusercontent.com/26769888/28237669-9fbd9b7a-6962-11e7-804d-bc9347a14257.png)

Can you also change separator color of command palette to same as the border color which is between editor and activity bar?

[2017-07-17 22:56] joerohde opened #47 "Handle punctuation.definition.comment as a 'comment'"
This is similar to the puncuation addition to 'keyword'. For me the problem manifested in Javascript (Babel) with the '//' portion of the comment being white as it matched general punctuation.  Tried to do a branch/PR-Merge - alas - denied.

[code]

[2017-07-17 23:03] dsifford commented on #47
@joerohde Can you give a quick example screenshot of the issue? Having a hard time conceptualizing what you're describing.

Also, and possibly more importantly, did you say that you weren't able to send a pull request? If so, that's definitely a problem! What was the error message you received?

Thanks so much! 😄

[2017-07-18 00:10] joerohde commented on #47
@dsifford - PR - Could totally be me. To date I've always been a member or owner and used branch merges. I'll look into it more.  I don't have a trivial screen shot since I fixed it locally, and apologize for the bad description - This should help:

// Here is my comment

'//' will be white/punctuation general color
'Here is my comment' will be my comment color.

To date I've only seen this proble

[2017-07-18 01:13] dsifford commented on #47
Is this a separate language from VSCode's `javascript` language?

[2017-07-18 16:17] joerohde commented on #47
Yes. It's [https://marketplace.visualstudio.com/items?itemName=dzannotti.vscode-babel-coloring](url).
Regular coloring works because it doesn't pull the leading '//' into a different syntax node.

I guess my main thought/concern is that if `punctuation.definition.keyword` has been given parity with 'keyword' for coloring, shouldn't that pattern be applied for any `punctuation.definition.*` not bei

[2017-07-18 19:16] dsifford commented on #47
Agreed that there are several issues deeply engrained in the textmate scopes that could be argued one way or another. However, most of the other languages follow the same or closely similar conventions so I'm going to avoid specifically making this change on this end.

At the end of the day, I think it should be up to the maintainer of the babel language extension to decide whether or not he/she w

[2017-07-18 19:16] #47 closed

[2017-08-10 19:06] heronsilva opened #48 "Changing to Dracula theme causes color issue in Insiders edition"
When changing the editor theme to Dracula, some elements like borders and the file explorer's text turn red.
![dracula-theme-code-insiders](https://user-images.githubusercontent.com/9641348/29187241-69233aba-7de5-11e7-9300-80960e5c39fb.gif)

VS Code Insiders Version 1.16.0

[2017-08-10 19:08] dsifford commented on #48
Yikes! I'll get this fixed as soon as the update is pushed to my distro's package manager.

[2017-08-10 20:34] dsifford commented on #48
@heronsilva Just confirming: You don't have any `workbench.colorCustomizations` enabled correct?

The reason I ask is that I'm noticing that you have a solid block line highlight, which is not the default.

Thanks for clarifying.

[2017-08-10 23:28] heronsilva commented on #48
@dsifford No, I don't. The solid line highlight background is from another theme I use.

[2017-08-11 00:04] dsifford commented on #48
I'm noticing now you said that this is affecting the insider's edition.

Does this also happen to you on the latest version released today (1.15), or is it exclusively on insiders?

[2017-08-11 00:11] heronsilva commented on #48
No, it's exclusive to the 'insiders' version.

[2017-08-11 00:12] dsifford commented on #48
Hmm... Care to send a PR with the fix? Is this theme the only one that does it?

[2017-08-11 00:17] heronsilva commented on #48
Yes, it's the only one. I switch between a couple of themes during the day XD
I'm currently trying to identify the issue, but, if I'm able to fix it, I'll send it ;)

[2017-08-11 00:18] dsifford commented on #48
🙏 greatly appreciated. Let me know if you have any questions / issues with the code on this side of the fence and I'd be happy to clarify.

[2017-08-11 11:52] seanamosw opened #49 "terminal.ansiBrightBlack is hard to see in integrated terminal"
I find it very difficult to see things in the integrated terminal using this color.

![powershell too dark](https://user-images.githubusercontent.com/20722069/29211854-bda51e26-7e9b-11e7-91c2-fd7e6d234b23.png)

[2017-08-11 12:24] jiku commented on #48
Same issue here with 2.1.3 in `code-insiders` 1.16.0. No issues with same version in `code` (1.15.0). Can't see it affecting any other themes.

[2017-08-11 12:25] xekri commented on #48
The same issue here (code-insiders 1.16.0, macOS 10.12.6), I even thought it was a Easter egg..

[2017-08-11 12:47] damosse31 commented on #48
I confirm, same issue with Dracula Theme, no problem after uninstall theme

Code Insider 1.16 - Window 10

![screenshot_1](https://user-images.githubusercontent.com/16171524/29213536-eca3b388-7ea3-11e7-95b4-872234c2ad55.png)

[2017-08-11 16:59] dsifford commented on #48
Are any of you able to try and fix? I'd rather not have to install the insiders version if I can avoid it.

[2017-08-11 17:00] dsifford commented on #48
cc: @bpasero

[2017-08-11 17:03] dsifford commented on #49
Awaiting reply on this and then I'll fix: https://github.com/dracula/dracula-theme/issues/232#issuecomment-320544101

[2017-08-11 22:40] dsifford commented on #49
@seanamosw Curious what command you have running that outputs BrightBlack on background? Trying out some other colors and there's really not much better I can do than what currently exists. BrightBlack on BG is just a poor color combination.

[2017-08-11 23:31] seanamosw commented on #49
To clarify, in the original screenshot, the hard to see text is `* -Recurse -Force` which is just powershell highlighting in the terminal.
This using the powershell extension for the integrated terminal.

Some other colorful console loggers also use this color and it is very hard to see with the Dracula theme.
As a temporary workaround, I just changed the color to `#808080` so it is readable, at l

[2017-08-12 00:22] dsifford commented on #49
@seanamosw Could you try changing `terminal.background` to the theme's background color (#282A36) and see if that helps?

I think the issue is likely the fact that the integrated terminal background is a darkened variant of the editor's background color.

Thanks in advance!

[2017-08-12 01:03] heronsilva commented on #48
@dsifford It looks like it's something with the build process, where, in the `dracula.yml` file, the colors that don't have a value assigned to them are converted to `null` in the ouput `.json` files.

Example:
##### `dracula.yml`:
`scrollbarSlider.activeBackground:                                             # Slider background color when active`

##### `dracula.json`:
`"scrollbarSlider.activeBac

[2017-08-12 01:04] heronsilva commented on #48
Sorry for the delay. Only now I could go back to take a look.

[2017-08-12 01:14] dsifford commented on #48
Strange. Not sure why `null` values would be converted to that red shade. Is there an open issue for this in the main vscode repo?

[2017-08-12 01:24] heronsilva commented on #48
I didn't found similar issue.
But, search the source code, I found this piece of code that has been updated recently:
https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/color.ts#L259

[2017-08-12 01:28] dsifford commented on #48
Aha.. yep, that's definitely the culprit!

The fix is fairly straightforward. I can hammer that out real fast if you'd like unless you'd prefer to.

[2017-08-12 01:32] heronsilva commented on #48
Well uh... I'll give it a try :)

[2017-08-12 03:06] #48 closed

[2017-08-12 03:08] heronsilva commented on #48
I created a pull request in the vscode repo.
After all it wasn't an issue with the theme soo... closing it.

[2017-08-12 11:02] aeschli opened #50 "Themes's colors whose value is null assume red by default"
_From @heronsilva on August 12, 2017 1:44_

- VSCode Version: 1.16.0-insider
- OS Version: Debian 9.1 / Ubuntu 16.04

Steps to Reproduce:

1. Install the 'Dracula' theme
2. Select any theme you have installed
3. Switcth to 'dracula' or 'dracula soft'
4. Elements in the editor should turn red, like borders, sidebar text, etc.

Reproduces without extensions: No

Screenshot:
![](https://user-images.g

[2017-08-12 11:02] aeschli commented on #50
It is a bug in the dracula theme to use 'null' as color value.
To disable a color, use a transparent color (e.g. #00000000)

[2017-08-12 16:20] dsifford commented on #50
Thanks for the clarification @aeschli 😄

Greatly appreciate you taking the time to reach out and clear up the confusion!

[2017-08-12 16:21] #50 closed

[2017-08-12 16:22] dsifford commented on #49
Switched the bg color back to default. Hopefully that helps.

[2017-08-12 16:22] #49 closed

[2017-08-12 16:22] #46 closed

[2017-08-12 16:27] dsifford commented on #48
Just pushed a fix. Sorry for the delay!

[2017-08-12 18:50] heronsilva commented on #48
No problem :)
Glad to participate!

[2017-08-13 03:26] seanamosw commented on #49
Sorry I didn't get back to you sooner. Unfortunately, the improvement is marginal, if any. I'm still resorting to lightening the `terminal.ansiBrightBlack` color to `#808080` to get readability.

I've attached some console logging output to demonastrate.
Take note of the characters `[],={}`

Default 2.2.0, can barely see the characters.
![2.2.0](https://user-images.githubusercontent.com/20722069/2

[2017-08-13 22:34] seanamosw commented on #49
I thought I would add an example of what it looks in ConEmu with the Dracula ConEmu theme.

Not quite as light as my workaround, but still readable:
![conemu](https://user-images.githubusercontent.com/20722069/29253863-1c99b944-8088-11e7-83f7-57be7f8d972d.png)

[2017-08-13 23:28] kdomagoj opened #51 "Still red color problem in insiders edition"
Still red even on 2.2.0 version of extension and latest insiders

![screenshot-2](https://user-images.githubusercontent.com/23455652/29254168-b0aefab6-808f-11e7-8d31-73ba3fff3375.jpg)

[2017-08-14 11:26] kdomagoj commented on #51
Now it ok with latest update!
code-insiders_1.16.0-1502687477
![screenshot-3](https://user-images.githubusercontent.com/23455652/29269872-2ca38ca4-80f4-11e7-99ef-5904b85e7371.png)

[2017-08-14 11:26] #51 closed

[2017-09-03 04:32] ajitid opened #52 "Request to remove all separators and borders"
![screenshot from 2017-09-03  #10-09-41](https://user-images.githubusercontent.com/26769888/30000604-4cbd35a2-9090-11e7-82e8-e88dc4734dfc.png)

Just to make Dracula a bit minimal and support issue https://github.com/dracula/visual-studio-code/issues/21 , all border lines can be removed.

----------------------------

To separate the panel with the editor, different colors can be used instead (and

[2017-09-17 12:12] #52 closed

[2017-09-19 14:15] ajitid opened #54 "Theme improvements"
1. Inconsistency here! Please change blue color of key's quotes a bit to match behaviour of expand selection with yellow strings.
![peek 2017-09-19 19-42](https://user-images.githubusercontent.com/26769888/30596759-b3bb9ce6-9d72-11e7-81e9-0e344a0bf0f9.gif)

2. Dragging and dropping tabs shows a solid background. How about changing `"editorGroup.dropBackground": "#44475a"` to `"editorGroup.dropBack

[2017-09-19 17:12] dsifford commented on #54
PRs accepted

[2017-09-25 04:13] iamandreymarchenko commented on #30
@dsifford thanks for your work, mate. But i want to say that on my macbook pro i can't see any difference between original and soft version. It would be awesome if in a future we will see really soft version of "Dracula". Best, Andrey.

[2017-09-25 19:16] ajitid commented on #54
PR done.
I'm on Ubuntu/Windows so I cannot update screenshot as I will not get a tinted titlebar which is available on a Mac.

[2017-09-27 21:13] #54 closed

[2017-10-02 13:16] amandaporto commented on #6
Says this was closed and added - but I still don't have any syntax highlighting for markdown under this theme.
![atom-notes_md_ _webapp](https://user-images.githubusercontent.com/12819656/31079054-66565c22-a752-11e7-910e-7b9bbe351be9.png)

[2017-10-24 17:37] nickcernis opened #58 "Improve terminal contrast for highlighted rows"
The current `ansiBrightWhite` of `*COLOR7` / `#BFBFBF` is problematic in the terminal for highlighted rows, such as those used by [tig](https://github.com/jonas/tig):

<img width="786" alt="settings_json_ _spt" src="https://user-images.githubusercontent.com/647669/31958487-d4a197de-b8e9-11e7-97f9-59e8416bbb5e.png">

I propose `*WHITE` for `ansiBrightWhite` instead to make highlighted rows more leg

[2017-10-24 23:19] #58 closed

[2017-11-18 00:44] onetrev opened #60 "Single quote colour glitch"
As per the screenshot, the single quote and slashes here should not be a different colour from the text.

![capture](https://user-images.githubusercontent.com/597601/32974771-f7cab852-cc54-11e7-850c-a9a51e6d90a2.PNG)

_LANGUAGE: PHP_

This actually affects a bunch of themes I've seen so far, including about half of the included ones in VS Code. Like Dracula, other themes don't seem to handle this

[2017-11-18 01:10] dsifford commented on #60
Thanks for the report.

The issue here is that the grammar for php is non-discriminatory for regular expressions. At any time it sees a string with `/` delimiters, it just assumes you're wanting to do a regex operation and the scope switches entirely.

The reason that Cobalt2 isn't affected is because they likely don't scope regular expressions at all. That's not an ideal solution here because in

[2017-11-18 01:10] #60 closed

[2017-11-18 01:23] onetrev commented on #60
Gotcha. I did figure it might be something out of your control, since it was hit and miss. Sorry.

Happy to post the issue elsewhere so this can be tackled. Only thing is the link you gave me is for Atom -> PHP. Can you confirm where best to post for VS Code PHP issues?

[2017-11-18 01:27] dsifford commented on #60
Oh, just realized you also were wondering why the first parsed as a normal string and the second did not..

That's because the first uses the delimiter character inside the "expression", so the regex scope match fails and it defaults back to string.

The second one has the delimiter character only on the outer edges of the string, so the regex scope passes.

the following two strings should also f

[2017-11-21 07:45] teddybradford opened #61 "Highlight color of comments is hard to read"
The find highlight color, selection highlight color, and selection highlight of a find highlighted color for comments are a bit difficult to read. Maybe they should be adjusted to improve readability?

<img width="546" alt="screen shot 2017-11-21 at 2 43 43 am" src="https://user-images.githubusercontent.com/3684553/33060322-d94910fa-ce65-11e7-8a28-df90c5783b64.png">

[2017-11-22 04:46] dsifford commented on #61
I agree. It's a tricky situation though because VSCode stacks highlight color matches. So, for example, if `editor.selectionBackground` has some color with 50% opacity and `editor.selectionHighlightBackground` has some color with 50% opacity, the end result is two layers totaling 75% opacity over top of the text layer.

Feel free to open a PR if you've got any ideas.

[2017-12-06 20:06] MBehtemam opened #62 "Operator Mono Font problem"
first thanks for your awesome theme my problem is when i use operator mono font i cant get best result forexample see these pictures. the first one is operator mono font with one dark pro thene :
![One Dark Pro](https://user-images.githubusercontent.com/1811124/33682724-aebbfec2-dadd-11e7-9338-19d3c2b80203.png)

and below is dracula theme with same config with operator mono font

![dracula](https:

[2017-12-06 22:09] dsifford commented on #62
@MBehtemam Can you clarify what you mean? Not sure I’m understanding you completely. What’s the issue?

[2017-12-07 05:08] MBehtemam commented on #62
i know that font is effected in dracula theme but see the `className` word is italic in drak pro but in dracula it's normal , is it related to dracula and if yes how can i fix this ?

[2017-12-09 18:34] #62 closed

[2017-12-11 12:28] albv commented on #30
@dsifford On my Ubuntu 16.04 machine I can't see any difference between themes either. So I took screenshots and used Gimp to compare editor background color - it's the same for both themes, #282a36.

[2017-12-11 16:36] dsifford commented on #30
@albv Again, difference can only be seen on macbooks or imacs. For whatever reason, their displays make the default scheme extremely intense.

You are correct that the background color is not touched. That's because it's a non-intense, dark color.

If you look at the build script int this repo, you'll see that only these colors are adjusted:

https://github.com/dracula/visual-studio-code/blob/4975

[2017-12-23 16:06] DFVSQY opened #63 "Some words are too gray to see them in terminal window"
![image](https://user-images.githubusercontent.com/8075421/34320926-39bd7e70-e83e-11e7-8896-7d87e9cae88c.png)
The word "-version" is too gray to see it.

[2017-12-25 14:21] sunsteam opened #64 "can't uninstall theme"
I tried disable plugin and restart vscode and do again but still can't uninstall theme , please see the screenshot. It stuck on this step.

![2017-12-25 17:32 10](https://user-images.githubusercontent.com/7489390/34337419-191ef592-e99a-11e7-93d3-679dbd79d8c9.png)

vs code version: 1.19.1
system: macOS 10.12.6

[2017-12-27 17:16] dsifford commented on #64
Not sure why this could be happening, but worst-case scenario you can always remove the theme from your `~/.vscode/extensions` directory manually and that should have the same effect.

[2017-12-27 17:16] #64 closed

[2018-02-05 11:40] the94air commented on #62
He ment that the html attribute is not italic in the second theme.

[2018-02-05 16:37] dsifford commented on #62
@the94air This should be fixed now. Is it not?

[2018-02-07 19:30] the94air commented on #62
It really depend on the theme that you use as of some of them makes it italic and others are not. I am not suffering from the same issue. I just want to make sure that you understand what the issue.., that's all :smile:

[2018-02-09 05:27] paperant opened #65 "This theme is missing for unknown reasons after updating."
I have installed this theme for several months. But with the recent two or three releases this theme always disappeared from my installed extension list. And every time I have to search for it and reinstall it.

I'm using VS Code(v1.19.3) on MacBook Pro with macOS version 10.13.1.

Anyone troubled by the same problem with me?

[2018-02-09 17:35] dsifford commented on #65
Not sure why that could be happening. I've never ran into this issue.

I'll leave this issue open so hopefully others can chime in.

[2018-03-07 23:43] dsifford opened #67 "1.21.0 expanded theme scopes (notifications API)"
Look into adding support for these:
- [Coloring of active line number](https://code.visualstudio.com/updates/v1_21#_coloring-of-active-line-number)
- [New theme colors and removal of old colors](https://code.visualstudio.com/updates/v1_21#_new-theme-colors-and-removal-of-old-colors)

[2018-03-08 11:38] DFVSQY commented on #63
@dsifford yes, now it's ok, i can see it.

[2018-03-15 07:44] paperant commented on #65
Seems this is a bug of the VS Code editor. It was mentioned [HERE](https://github.com/Microsoft/vscode/issues/41894).
I'll close this issue. Thank you for helping.

[2018-03-15 07:45] #65 closed

[2018-03-15 16:47] dsifford commented on #65
Thanks for the update!

[2018-03-17 21:53] akaRem opened #68 "Missing current line highlight background"
According to screen from README, current line should be highlighted with #44475a or similar colour.
Reference from readme:
<img  src="https://camo.githubusercontent.com/d695efd1815607a9056ea5817501adc0a63632ca/68747470733a2f2f64726163756c617468656d652e636f6d2f6173736574732f696d672f73637265656e73686f74732f7673636f64652e706e67">

But in my installation I see only border.
Theme: 2.9.0
VSCode: 1.21.1

[2018-03-17 22:05] dsifford commented on #68
Thanks for the report.

The image in the readme is not correct. The line highlight background is purposely not set due to how VSCode deals with overlapping highlights.

Instead of using the topmost highlight color for each individual block in the editor, VSCode instead overlays the highlight colors on top of each other.

This becomes a problem in situations where you have several highlights being

[2018-03-26 15:03] hacknug opened #70 "Wrong colors for git and built-in terminal"
I've just installed the theme on VSCode and the colors used for the git status of edited files and the built-in terminal don't use the Dracula color scheme.

Is this because of any limitations? Are you guys opened for a PR that fixes this?

<img width="417" alt="captura de pantalla 2018-03-26 a las 16 08 48" src="https://user-images.githubusercontent.com/1107521/37911313-fedd775e-310f-11e8-83c3-31

[2018-03-26 17:33] #63 closed

[2018-03-26 17:36] dsifford commented on #70
Hi,

The terminal colors were adjusted due to some limitations that resulted with the colors required for ANSI. You can find the details of that discussion in #66

The git modified color (the orange color), is a part of the [Dracula palette](https://github.com/dracula/dracula-theme#color-palette). Was there some other color you expected?

[2018-03-28 21:30] auchenberg opened #71 "We plan to feature your VS Code extension!"
Hi,

It's Kenneth from VS Code. I'm reaching out to tell you that we plan to feature your awesome VS Code extension on our marketplace https://marketplace.visualstudio.com/#VSCode in the next iteration.

Please work with your community to resolve any major issues, as you'll probably see a significant bump in new users trying your extension.

Thanks for the great work, and happy coding!

/k

Kennet

[2018-03-28 22:07] zenorocha commented on #71
That's awesome! Thanks for letting us know ;)

[2018-03-29 02:35] #68 closed

[2018-03-29 02:41] dsifford commented on #71
Woo! Thanks so much :blush:

[2018-03-29 02:41] #71 closed

[2018-03-29 19:32] #70 closed

[2018-05-03 19:14] braddielman opened #73 "Add support for highlighted indent guides"
I know this feature was _just_ released, but I'd love to see this added soon. 🤞

https://code.visualstudio.com/updates/v1_23#_highlighted-indent-guides

[2018-05-03 19:31] smt923 commented on #73
Already working on a PR for this, will be up super shortly

[2018-05-03 20:36] #73 closed

[2018-06-01 16:47] romellem opened #76 "Script tag in HTML files breaks highlighting subsequent HTML tags"
When I have a script tag, it breaks all subsequent closes tags (i.e., the closing `</script>`, `</body>`, and `</html>` in this screenshot):

![screen shot 2018-06-01 at 11 41 13 am](https://user-images.githubusercontent.com/8504000/40852780-4a8f9cf8-6591-11e8-8204-4d3642cf905e.png)

I noticed that if I have a bad `type` attribute, then highlighting the closing tags is correct, although the JS hig

[2018-06-02 00:46] dsifford commented on #76
@romellem Thanks for the report.

Can you confirm this still happens if you spell Javascrip**t** correctly in the `type` attribute?

It should read `<script type="text/javascript">`

[2018-06-02 00:52] romellem commented on #76
Sorry, I wasn't very clear. I meant if you have a regular tag with normal attributes, the highlighting breaks.

So `<script>` or `<script type="text/javascript">` and it looks broken:

<img width="402" alt="screen shot 2018-06-01 at 7 49 15 pm-fs8" src="https://user-images.githubusercontent.com/8504000/40868693-06761440-65d5-11e8-9c13-7ec1493f8c7d.png">

But insert a bad value, and the HTML tags n

[2018-06-02 00:55] romellem commented on #76
Also, I am on:

- macOS 10.12.6
- VS Code Version 1.23.1
- Dracula Official version 2.10.0.

[2018-06-02 01:05] dsifford commented on #76
Hm...

Here's what I'm getting:

![image](https://user-images.githubusercontent.com/5240018/40868837-64597c3c-65df-11e8-9b4c-96f3eac13d53.png)

Can you try disabling your other extensions and see if the issue persists?

[2018-06-02 01:14] romellem commented on #76
Ah ha! Good suggestion.

Looks like this extension [Sublime Babel](https://github.com/joshpeng/Sublime-Babel-VSCode) is causing compatibility issues. When I disable that extension, everything highlights as you'd expect.

Thanks again for the troubleshooting tip.

[2018-06-02 01:14] #76 closed

[2018-06-13 13:47] DanielRamosAcosta opened #77 "Strange dark green color on warnings"
In the file explorer, warnings appear green, I don't really know if it's an issue with Dracula theme or `tslint`, here is a screenshot:

![image](https://user-images.githubusercontent.com/11427028/41355129-a8f91aa4-6f18-11e8-8726-e286d1b011d4.png)

[2018-06-15 00:35] #77 closed

[2018-06-15 00:35] dsifford commented on #77
Nice catch!

All fixed in `2.11.0`.

[2018-06-19 06:12] hismichael opened #78 "normal fontStyle only"
Can we also have a theme that is with normal fontStyle only? no italic, no underline. Since for people poorly eye-sighted like me, italic and underline words are actually difficult to read.

[2018-07-31 08:33] bn4z opened #81 "Find all references popup window is hard to see"
When opening the `Find All References` (Shift F12 shortcut) popup it's difficult to see the limit between the popup window and the code behind it. On the screenshot below the limit is marked with the red dashed line.

![image](https://user-images.githubusercontent.com/3406749/43447471-e221bab2-94ab-11e8-8adc-16044879389a.png)

I guess this is not specific to this popup. Any popup should have a dif

[2018-08-08 21:32] rmtracey opened #82 "[JavaScript] All variables within an export default block are treated as alias real names"
It seems that all variables within an `export default` block in JavaScript are treated as the "real name" of an alias, and are therefore rendered as italicized orange characters, rather than white ones as they usually are. This results in some very wrong-looking syntax highlighting if you have anything other than references to your exports in that block.

This is especially a problem for writing s

[2018-08-09 01:27] dsifford commented on #82
Pretty awesome catch, @rmtracey!

I'm fairly certain this is going to be an issue for the [TypeScript-TmLanguage](https://github.com/Microsoft/TypeScript-TmLanguage) repo. Would you mind opening an issue up there and cross-reference this thread?

Thanks!

[2018-08-09 12:34] rmtracey commented on #82
@dsifford Done, thanks for pointing me in the right direction!

[2018-08-12 19:16] dsifford commented on #82
I think this will require too much effort to fix. Since this is such a niche case, I'm gonna just leave it as-is for now.

If it bugs you too much, just define your object outside of the export and then export it after.

[2018-08-15 09:09] reinerluke opened #83 "Npm run build Error: Failed at the theme-dracula@2.12.1 build script."
NPM Error:
![grafik](https://user-images.githubusercontent.com/30616142/44140715-31074ebe-a07b-11e8-9b7d-8e672d44770a.png)

Log File:
[2018-08-15T09_02_28_286Z-debug.log](https://github.com/dracula/visual-studio-code/files/2289751/2018-08-15T09_02_28_286Z-debug.log)

NPM Version: 5.6.0

[2018-08-15 10:18] vshab opened #84 "After upgrading to VSCode 1.26 variables changed color in JavaScript"
Right now `const` variable are purple, `let` and `var` variables  are yellow.

![code](https://user-images.githubusercontent.com/6755908/44143703-e358df50-a0ae-11e8-9470-69cc8d4ed5a7.png)

Both used to be white:
<img width="412" alt="screen shot 2018-08-15 at 17 17 53" src="https://user-images.githubusercontent.com/6755908/44143787-3902bae8-a0af-11e8-9c6e-04e23ffa5b35.png">

[2018-08-15 15:47] dsifford commented on #84
Thanks for the report. I'll check into this once I'm able to upgrade. (My distro's package is currently segfaulting from the changes).

[2018-08-15 16:01] #83 closed

[2018-08-15 16:01] dsifford commented on #83
Should be good now.

[2018-08-15 18:35] reinerluke commented on #83
All fine now! Thanks

[2018-08-18 07:01] seiks commented on #81
I second this. While the popup does follow Dracula's color scheme, it is incredibly hard to differentiate.

[2018-08-18 07:09] seiks opened #85 "New 1.26 breadcrumbs menu needs styling"
Hi!

The new breadcrumbs feature needs styling. If I'm not mistaken, the current menu uses default Dark+ colors. The menu definitely appears as being too yellow in tone in my eyes.

**Dark+**
![Dark+](https://user-images.githubusercontent.com/22685871/44296810-433f8880-a2ce-11e8-85d0-0c0c7ae1f5d3.png)

**Dracula**
![Dracula](https://user-images.githubusercontent.com/22685871/44296788-f78cdf00-a2cd

[2018-08-18 15:05] dsifford commented on #85
Thanks for the report.

Still haven't been able to update to 1.26 due to a [segfault issue on Arch Linux](https://github.com/Microsoft/vscode/issues/55934) machines. The fix was recently made so perhaps I can get around to adjusting sometime this weekend when I download the update.

[2018-08-19 22:07] #84 closed

[2018-08-19 22:07] #85 closed

[2018-08-22 07:56] dabrowski-adam commented on #84
Hey, I'm pretty sure that pseudo-constants, e.g. `var MAGIC_NUMBER = 4;` were *not* white before, but purple. And now they are white.

[2018-08-22 11:59] dsifford commented on #84
@dabrowski-adam They changed what constitutes as a constant.

Before the change, only all caps const variables counted. Now all const variables count, which I disagree with.

Leaving pseudo-constants purple after the change is too much purple.

[2018-08-22 19:45] willian-fer opened #86 "Not highlight in css inline"
Since the last updates it looks like this

![image](https://user-images.githubusercontent.com/33581079/44486178-3baf1500-a629-11e8-80c6-5734c1858faa.png)

[2018-08-22 19:53] dsifford commented on #86
Thanks for the report. Just checked this out and it looks like an issue with the syntax itself (all inlined css is being scoped entirely to `source.css`, rather than importing and applying the css syntax in place).

You may want to try opening this one up in the syntax repo. I'll keep this issue open to follow along.

[2018-08-23 09:29] dabrowski-adam commented on #84
@dsifford I agree with you—the other types of variables shouldn't be purple—but it was nice to have those all caps pseudo-constants stand out. So now it would require a custom grammar?

[2018-08-23 14:10] dsifford commented on #84
@dabrowski-adam either that or you’d have to convince the syntax maintainers for js and ts to revert back to its old behavior

[2018-08-31 13:47] jbpotonnier commented on #61
Maybe add a border can help  `editor.selectionHighlightBorder`

[2018-09-09 16:42] dsifford commented on #84
Good catch @n1ghtmare

Fixed in `v2.14.1`. Pushing out to the marketplace now. :+1:

[2018-09-09 16:57] apcamargo opened #87 "Improve support for italics"
There are many coding fonts such as IBM Plex Mono and Operator Mono that offer true and beautiful italics. It would be nice if Dracula's italics support improved.

- [Dracula fork with improved italics support](https://github.com/shidhincr/vscode-dracula-italics)

Comparision between Dracula and the [Material Theme](https://github.com/equinusocio/vsc-material-theme):

![dracula](https://user-image

[2018-09-09 18:11] dsifford commented on #87
Italics are currently supported, but just not for the specific scopes material has them defined for. (which specifically, the only real difference I see is that material has `keyword.control` scope italicized which I quite strongly disagree with).

You'll notice also in the screenshots you've provided that function arguments are italicized in dracula but not in material (as well as type annotation

[2018-09-09 18:11] #87 closed

[2018-09-09 18:13] dsifford commented on #78
@hismichael Always happy to help out where I can for visually impaired users.

I'll add this to the todo list. :+1:

[2018-09-19 17:39] fungilation commented on #61
Just use a different background color that's contrasting to font color, while still a harmonious color of course. Like a soft shade of orange.

[2018-09-19 17:57] dsifford commented on #61
Not possible to specify highlight background color based on semantics. It's a one-shot deal. So if background color is orange then the highlight color across the board will be orange. That also still leaves the issue of multiple overlaying highlight colors as described above.

[2018-09-20 07:58] Delapouite commented on #81
I agree about the lack of contrast. Here's the tweaks I've added to my User Settings:

[code]

[2018-09-30 17:55] n1ghtmare opened #88 "Color difference in TypeScript class & default class"
Hi guys, I love the theme, great job, I found a small bug (thought I might share, also I'm not sure if this is desired effect, but I'm pretty sure that's was not the behavior before), notice how `let k` is different color for both of the snippets below (this is in typescript in a `.ts` file). I'm using version `2.14.1` of the theme (the latest at the time of writing this), as well as the latest ve

[2018-09-30 18:51] dsifford commented on #88
Hi there.

This looks like a dupe of #82. The issue stems from how default exports are scoped in the tmLanguage file upstream. So the only way to fix it would be to address it there.

[2018-09-30 19:15] n1ghtmare commented on #88
Oh, I see, sorry about that, I wasn't aware. Cool, I'll open an issue upstream (if there isn't one opened already).

[2018-10-01 23:11] hismichael commented on #78
Great!

[2018-10-10 18:01] dsifford commented on #88
@n1ghtmare Just kidding... I think I can actually fix this rather easily... I'll push it out with the adjustments I make for the latest release (in the next few days).

[2018-10-10 18:02] dsifford commented on #82
@rmtracey Just kidding... I think I can actually fix this rather easily... I'll push it out with the adjustments I make for the latest release (in the next few days).

[2018-10-16 00:02] dsifford commented on #86
Closing due to this being out of scope.

[2018-10-16 00:02] #86 closed

[2018-11-07 02:46] #82 closed

[2018-11-07 02:46] #88 closed

[2018-11-14 05:04] edercampelo opened #92 "Faded/Dimmed colours on MacOS Mojave"
hi there,

after update my mac to macOS Mojave 10.14.1 seems like the colours are not the same (vibrant colours) anymore . The colours seems a little bit dimmed/faded. I tested on another mac and I'm getting the same issue.

![screen shot 2018-11-14 at 3 30 48 pm](https://user-images.githubusercontent.com/2735838/48460321-83a59880-e822-11e8-9163-9fe3a2ddc048.png)

[2018-11-14 05:09] dsifford commented on #92
Are you perhaps using the "dracula-soft" variant of the theme? If not, I'm not sure what could be causing this, but happy to keep this issue open until something turns up. :+1:

[2018-11-30 14:37] emilbryggare opened #93 "Class methods has different colors."
Class methods are colored differently.

![image](https://user-images.githubusercontent.com/1659740/49295115-388fb480-f4b5-11e8-9e1e-7df81fc168d6.png)

My guess is that some keywords are reserved for JavaScript and has higher priority than class methods.

Visual Code Version 1.29.1
Dracula version 2.15.0

[2018-12-02 14:59] oefterdal commented on #92
Try change your font to bold.

[2018-12-21 10:11] hrdtbs commented on #76
[Babel JavaScript](https://github.com/michaelgmcd/vscode-language-babel)  is causing this issues too.

[2018-12-28 16:53] mzhukovs opened #94 "VS2019 Compatibility (and consider adding to VS-ColorThemes)"
By far my favorite theme. Thanks to all contributors for this one...
2 quick things:
1. Didn't see an option to download the theme from your website for VS2019 (currently in preview). Will you be releasing an extension soon?
2. You guys should consider adding this as a theme to the "Color Themes for Visual Studio" extension, if possible: [https://github.com/Microsoft/VS-ColorThemes](https://github

[2018-12-28 18:37] dsifford commented on #94
@zenorocha This should be transferred here: https://github.com/dracula/visual-studio

[2019-02-10 14:08] byyxx128 opened #96 "Unable to identify whether an element is selected or not"
See the GIF directly.
![bug](https://user-images.githubusercontent.com/20079289/52534770-94778480-2d13-11e9-84ec-802d6ea3e96f.gif)
Dracula uses the same background color for a word which is selected or which is just highlighted.

[2019-02-10 16:05] dsifford commented on #96
This has been reported several times in the past. It's particularly difficult to handle with VSCode due to how VSCode layers highlights in the editor.

Ping @DanielRamosAcosta --- Any thoughts here?

[2019-02-11 09:52] DanielRamosAcosta commented on #96
I'll take a look later today 😄

[2019-02-11 22:10] DanielRamosAcosta commented on #96
Hey @dsifford, can I have a quick way to chat with you? maybe Telegram/Slack or something

[2019-02-11 22:24] dsifford commented on #96
https://draculatheme.slack.com

[2019-02-11 22:34] DanielRamosAcosta commented on #96
It seems like I need an invitation or something, could you invite me please? danielramosacosta@hotmail.com

[2019-02-11 22:36] dsifford commented on #96
There's a link in the readme [here](https://github.com/dracula/dracula-theme) you can click to join.

[2019-02-14 15:41] Nemesis19 commented on #92
happens on VSCode 1.31.1 on mac os high sierra as well...colors seems softer while using the regular Dracula theme.

[2019-02-22 09:37] TaeyoonKwon opened #98 "Theme is different than what it should be."
I've installed Dracula Official extension from Visual Studio Code, and applied it, and I see the difference from what there is on the website.

Mine

![Diff](https://i.imgur.com/Dx1k7eU.png)

On Website

![Image](https://camo.githubusercontent.com/d695efd1815607a9056ea5817501adc0a63632ca/68747470733a2f2f64726163756c617468656d652e636f6d2f6173736574732f696d672f73637265656e73686f74732f7673636f64652e7

[2019-02-22 17:14] dsifford commented on #98
Yes, the screenshot on the website is extremely outdated. My fault there.

This implementation (and the vim implementation for which I also maintain) tries to stick as close as possible to the specification doc which can be found here https://dsifford.github.io/dracula-spec/

[2019-02-22 17:14] #98 closed

[2019-03-02 04:15] seiks opened #100 "Inconsistent editor background color"
Hello. 👋

There's something weird about the way Dracula renders the **editor background color**.

If you look closely to the right side of the image, you can see that there is a cut-off point from which the background changes its shade ever so slightly.

<img width="903" alt="0" src="https://user-images.githubusercontent.com/22685871/53676857-c9db1680-3cb0-11e9-91e6-720e2b22d6e9.png">

Here's a zo

[2019-03-23 21:48] byyxx128 commented on #96
Any idea about this?

[2019-04-12 18:14] seiks commented on #100
I realized some time ago that this problem may not be noticeable on all monitors due to poor color space. Here's an edited version of the above image.

<img width="1041" alt="53676909-4f5ec680-3cb1-11e9-80a1-e3d52f85a2a7" src="https://user-images.githubusercontent.com/22685871/56057520-a8695200-5d67-11e9-9592-4c31271f1090.png">

I also thought that this problem existed on all platforms, but I susp

[2019-04-12 18:22] dsifford commented on #100
This is a feature, not a bug.

The differing colors adds depth and allows you to see hard differentiation between the tab bar, sidebar, tabs, etc.

You're free to adjust in your user settings if you'd prefer to make them all the same color.

[2019-04-12 18:24] dsifford commented on #100
Oh, whoops.. Misread that.

Not sure what could be causing that issue. Might be a paint issue with electron on darwin. Not sure.

You might not be noticing it in the default themes because the dark color is darker and less saturated.

[2019-04-12 18:36] seiks commented on #100
It might be an upstream issue. I'll try to find some time and dig in deeper to renderer code paths, perhaps also try to replicate this with other themes. Your point about saturation gave me an idea to try.

[2019-04-12 18:51] seiks commented on #100
The key word is saturation.

**One Dark Pro (difference enhanced)**
<img width="1280" alt="Näyttökuva 2019-04-12 kello 21 42 33" src="https://user-images.githubusercontent.com/22685871/56059384-9f2eb400-5d6c-11e9-8f03-2c4d3f5f81b7.png">

**Tomorrow Night Blue (difference enhanced)**
<img width="1280" alt="Näyttökuva 2019-04-12 kello 21 43 54" src="https://user-images.githubusercontent.com/22685871

[2019-04-12 18:51] #100 closed

[2019-04-12 19:00] seiks commented on #100
Active issue upstream: https://github.com/Microsoft/vscode/issues/71117

[2019-05-03 16:58] misolori opened #104 "Add support for statusBarItem.remoteBackground"
With the recent support for [VS Code Remote Development](https://code.visualstudio.com/blogs/2019/05/02/remote-development), there's a new color token for remote indicators. You can now set the foreground & background color for a remote indicator via `statusBarItem.remoteForeground`, `statusBarItem.remoteBackground`:

<img width="337" alt="image" src="https://user-images.githubusercontent.com/3527

[2019-05-03 17:52] dsifford commented on #104
Wasn't aware of this change. This is pretty awesome stuff (particularly the remote containers feature!).

[2019-05-04 02:02] #104 closed

[2019-05-08 02:38] black-black-cat opened #106 "Some colors in README.md's screenshot and some in a real vscode is not the same"
hi there,

Some colors in `https://draculatheme.com/assets/img/screenshots/vscode.png` and some colors in a real vscode is not the same.

It is not convenient for people know the real code syntax color highlights in a vscode, if they just take a look at the README.md's screenshot or the screenshot on `https://draculatheme.com/visual-studio-code/`.

![微信图片_20190508101856](https://user-images.github

[2019-05-08 16:08] lucasmortoni commented on #106
experimenting the same in "document" element in JS, where the keyword does not get the right color.

<img width="445" alt="Screen Shot 2019-05-08 at 12 58 11" src="https://user-images.githubusercontent.com/20991871/57390031-d0df4300-7191-11e9-9ff3-b5d8c39fd1d8.png">

usually gets some kind of purple and functions from "document" are not green, but blue. like this:

<img width="458" alt="Screen Sho

[2019-05-08 16:57] dsifford commented on #106
README is outdated. The extension implements the correct colors. PRs accepted if you feel like updating the screenshot.

[2019-05-08 16:59] dsifford commented on #106
I'll keep this issue open until the screenshot gets updated.

[2019-05-16 12:30] Goatmaster opened #107 "Font Screenshot"
Hey,

just wanted to know what font is used in the screenshots.

Best.

[2019-05-16 17:43] dsifford commented on #107
I'm not entirely sure. That screenshot originates from upstream in the main repo I think. If I had to guess, I'd say it's probably dejavu mono, liberation mono, droid mono, or ubuntu's default monospaced font based on how the letter `i` is formed, but your guess is as good as mine.

[2019-05-16 17:43] #107 closed

[2019-05-22 22:38] jb8893 commented on #96
I'm having the same issue :pensive:

[2019-05-23 03:41] jamilabreu commented on #86
@dsifford is the closing quote not being the correct color also a syntax issue? if yes, which is the syntax repo i should be looking at? thanks!!

[2019-05-23 15:13] dsifford commented on #86
The closing quote has `source.css` as the highest priority scope. The opening quote has `punctuation.definition.string.begin` as the highest priority scope.

So it's either an issue with html syntax or css syntax. Not sure off the top of my head.

[2019-05-24 00:46] jamilabreu commented on #86
@dsifford  ah, interesting! any direction at all (might you know someone that knows?) on where to report this would be super appreciated -  googling has been a dead end for me :/

[2019-05-24 00:52] dsifford commented on #86
No concrete people I can point you to for this, but maybe this will help...

First, it's helpful to just be aware of  <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>p</kbd> -> `Developer: Inspect TM Scopes` command.

And with that in mind, the upstream repos for the HTML and CSS syntaxes are [here](https://github.com/textmate/html.tmbundle/blob/master/Syntaxes/HTML.plist) and [here](https://github.com/octr

[2019-05-24 22:52] byyxx128 commented on #96
I have tried lots of themes. More than half of them have the same issue, but the rest do not. So I believe there should be a solution for it, although I don't what it is.

[2019-06-17 10:20] tochka opened #108 "Override background of highlighting block in the working tree (compare)"
I have a problem with highlighting a block of codes in the Working tree. Background of words doesn't override.
How can I do that?
<img width="1318" alt="Screenshot 2019-06-17 at 13 11 55" src="https://user-images.githubusercontent.com/3897433/59597465-95c21f00-9102-11e9-8bc5-232bbe040fbf.png">

Version 1.35.1 (1.35.1)

[2019-06-26 15:14] sergeyklay opened #109 "Provide ability to disable italic and bold fonts"
Hello,

I would like to disable italic and bold fonts. Is it possible? If not it is my feature request.

Thank you

[2019-06-26 15:28] dsifford commented on #109
Closing as dupe of #78

[2019-06-26 15:28] #109 closed

[2019-07-06 13:03] vshab opened #111 "Triple closing type brackets break syntax highlighting for TypeScript"
Hello!

The following code breaks code highlighting beneath:
[code]

How it looks (wrong):
<img width="601" alt="Screenshot 2019-07-06 at 19 55 47" src="https://user-images.githubusercontent.com/6755908/60756523-7dba2d00-a028-11e9-96e6-768c5e392d0f.png">

How it looks with double closing type brackets (right):
<img width="563" alt="Screenshot 2019-07-06 at 19 56 04" src="https://user-images.github

[2019-07-06 14:08] dsifford commented on #111
This should be posted in https://github.com/Microsoft/TypeScript-TmLanguage/

Closing this as it's out of scope.

[2019-07-06 14:08] #111 closed

[2019-07-12 09:04] nathaneastwood opened #112 "Custom function highlighting for R"
Is it possible to get function highlighting for custom functionality for R? I have included a screenshot below whereby `unique()` is a base R function; `data.table()` is a function from the `data.table` package; and `UpdateAndGetCachedData()` is a custom function from one of my own packages.

![image](https://user-images.githubusercontent.com/9799530/61116303-7665aa00-a494-11e9-8950-38b23ed4ca6a.p

[2019-07-12 16:02] dsifford commented on #112
The R syntax in vscode is pulled from [here](https://github.com/Ikuyadeu/vscode-R). So if you'd like to see changes with how syntax highlighting is applied, you'll have to do it there.

[2019-07-12 16:02] #112 closed

[2019-08-21 10:34] sompol13 opened #113 "Different color between class and id in pug file."
I really love this theme.
But i need this feature (.pug file).
![Screen Shot 2562-08-21 at 17 32 48](https://user-images.githubusercontent.com/33342822/63425018-d3f8f900-c439-11e9-8396-56a81d0920ce.png)

Is it possible for customise to get this??

[2019-09-23 02:51] #113 closed

[2019-09-29 14:28] skube opened #114 "Color within parameter info box"
I seem to have color within the IntelliSense box but not for the parameter info.

Initial IntelliSense box (color coded)
<img width="954" alt="Screen Shot 2019-09-29 at 9 27 30 AM" src="https://user-images.githubusercontent.com/146396/65833914-95a9f180-e2a3-11e9-9c2e-67cf379c724d.png">

Parameter info (monochrome)
<img width="640" alt="Screen Shot 2019-09-29 at 9 27 51 AM" src="https://user-images

[2019-10-03 10:16] xereda opened #115 "VSCODE - Inconsistency with chaining and nullish operator"
### Inconsistency with optional chaining and nullish operator

Color misconfiguration happens when we use the new javascript features (tc39 stage 3, by babel plugin). New features are Optional Chaining and Nullish Coalescing, operators long awaited by the community.

For some time now we have access to these resources through babel plugins.

The operators:

https://github.com/tc39/proposal-nullish

[2019-10-03 10:16] #115 closed

[2019-10-03 11:45] hacknug commented on #115
Extension doesn't seem to fix it on Vue files for me 😢

[2019-10-05 18:45] dsifford commented on #115
This is going to be an issue with the syntax, not the theme. I'd bring it up there.

[2019-10-05 18:46] dsifford commented on #114
Not totally sure. Does this happen on all themes or just this one?

[2019-10-05 18:48] #106 closed

[2019-10-05 18:53] skube commented on #114
As far as I can tell, all themes.

[2019-10-05 18:57] dsifford commented on #114
Hm, yeah then this will probably be something that would need to be brought up in the main vscode repo. Maybe do a quick search there to see if it's already been brought up?

[2019-10-05 19:27] skube commented on #114
OK thanks for responding!

[2019-10-05 19:27] #114 closed

[2019-10-11 09:58] black-black-cat opened #117 "TM scope match when using Babel JavaScript extension"
Hey buddy.

![chrome_6bCQsCGnwo](https://user-images.githubusercontent.com/15521864/66642655-bda83600-ec4f-11e9-96dc-50341d32a918.png)

When I installed [Babel JavaScript](https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel) to change the default js syntax highlight in vscode. I found the newer color of class name scope turn to match `entity.name.class`, which is

[2019-10-12 02:59] black-black-cat commented on #117
PR is ready in #118 👌

[2019-10-15 05:35] byyxx128 commented on #96
@dsifford Good news! I have found the corresponding values!
`editor.selectionBackground`
`editor.lineHighlightBackground`
`list.activeSelectionBackground`
`list.hoverBackground`
Please check and modify these keys.

[2019-10-15 15:18] dsifford commented on #117
Closed in #118

[2019-10-15 15:18] #117 closed

[2019-10-17 12:07] gibbok commented on #109
@dsifford first of all, great work on the Dracula theme for code, do you have any update on #78 ?

[2019-10-19 18:41] gibbok commented on #78
@dsifford Great work on this theme, I would like to ask you if you have any update on this ticket... Would be great to have the option to disable italic and underline.

@hismichael meanwhile you [can use this work](https://stackoverflow.com/questions/44219768/disable-italic-syntax-highlighting-in-vs-code/49202435#49202435) around, basically you disable the italic in vscode instead that in the them

[2019-10-25 17:40] walterjaworski opened #119 "Possible conflict with other plugin?"
Hey everybody,

when i activate Dracula, don't stayed equal to print for theme.

![Screen Shot 2019-10-25 at 2 28 47 PM](https://user-images.githubusercontent.com/3688982/67592141-5a310480-f735-11e9-8280-8ab6f1a1e7fb.png)

[2019-10-25 17:53] walterjaworski commented on #119
Hey, its a conflict with Babel Javascript extension from Chrome.

[2019-10-25 17:53] #119 closed

[2019-11-01 22:48] jaminthorns opened #120 "Find widget border"
The find widget has an (in my opinion) unnecessary border that throws off the spacing and balance of the UI:

![Screen Shot 2019-11-01 at 5 41 33 PM](https://user-images.githubusercontent.com/6618434/68060707-887f8880-fccf-11e9-9c4c-00020d15842a.png)

Compare this to the find widget when using the Dark+ theme:

![Screen Shot 2019-11-01 at 5 40 21 PM](https://user-images.githubusercontent.com/66184

[2019-11-02 19:32] dsifford commented on #120
Feel free to open a PR :+1:

[2019-11-02 20:56] byyxx128 commented on #96
Why did no one answer me...😑
Shall I post a PR?

[2019-11-03 00:32] dsifford commented on #96
@byyxx128 This problem is trickier than just identifying the scope names..

See here for more info: https://github.com/dracula/visual-studio-code/issues/61#issuecomment-346242336

[2019-11-03 21:39] byyxx128 commented on #96
OK, I totally understand. The problem is related to overlying opacity rather than just to choose colors.

[2019-11-10 06:08] serenedu opened #122 "VSCode Activity Bar indicator"
Adjustment to the default color would be nice
[Activity Bar indicator](https://code.visualstudio.com/updates/v1_40#_activity-bar-indicator)

[2019-11-10 13:46] dsifford commented on #122
See #121

[2019-11-14 16:26] rmtracey opened #123 "Incorrect syntax highlighting inside template literals"
I'm noticing some strange syntax highlighting inside of template literals - several things are being colored yellow as if they're strings even though they aren't.

Example:
![colors](https://user-images.githubusercontent.com/3460875/68875452-da151380-06d0-11ea-9c2c-c8903a965de3.PNG)

Notice that things such as curly brackets, object key names, and function parenthesis are colored yellow, whereas t

[2019-11-18 00:55] rumkin commented on #92
Colors happened fade for me too this week.

[2019-11-18 01:01] rumkin commented on #92
Solved after restart. Seems like VSCode uses this trick to make each update look brighter and more exciteful.

[2019-11-19 10:51] JacobEFO opened #124 "Dracula theme in Visual Studio Code Jupyter Notebook - Black cursor"
Hey fellow Draculas,

I absolutely love your theme and have been using it for quite a while.

However, I recently noted that when trying to use a Jupyter Notebook in VSCode using Dracula color theme, the cursor becomes black, as shown in the [link](https://imgur.com/a/mjOEusJ). Note at the end of the second block, the cursor is all black.

I am not sure, how this issue arises, but have any of you

[2019-11-19 12:33] dsifford commented on #124
Definitely an odd one...

Does this happen with all themes or just this one?

[2019-11-19 14:02] JacobEFO commented on #124
The other themes I tested all have white cursor in both .py and .ipynb files, but Dracula has a black in .ipynb and white in .py.

[2019-11-23 09:55] thinkerdu opened #125 "Vue broken ::v-deep highlighting"
![image](https://user-images.githubusercontent.com/28700378/69476879-5ec30880-0e1a-11ea-9779-94611e1c3f46.png)
![image](https://user-images.githubusercontent.com/28700378/69476906-a0ec4a00-0e1a-11ea-8f97-45c39559c51c.png)

[2019-11-24 19:39] dsifford commented on #125
Assuming the syntax of the editor where this is happening is `scss`, then this is going to be an issue you'll have to raise with the maintainers there as themes have no control over that.

The scss syntax in vscode is actually pulled from [the atom language-sass repo](https://github.com/atom/language-sass).

[2019-11-24 19:39] #125 closed

[2019-11-25 00:28] dsifford commented on #124
I got it figured out @JacobEFO. Give me a day or two and I'll get a fix for this pushed out.

[2019-11-25 04:47] thinkerdu commented on #125
https://github.com/atom/language-sass/issues/274

[2019-11-26 13:16] JacobEFO commented on #124
Ah fantastic. Looking forward to it ;)

[2019-11-30 15:19] dsifford commented on #124
Fixed in 2aa183123b7fec4dc890b23e847f8de85f8be153.

[2019-11-30 15:19] #124 closed

[2019-12-14 16:14] rasuru opened #126 "Weird background"
Hello, look at the image below. My background is not one consistent colour. I am not sure if this defect is caused by the theme or VS Code. I didn't find anyone experiencing the same issue and VS Code default themes work properly. So I decided to submit an issue. Do you know how to fix this? Thank you in advance!

![image](https://user-images.githubusercontent.com/39127725/70851354-52cce280-1ebe-1

[2019-12-14 18:09] dsifford commented on #126
I don't have the time at the moment to check, but IIRC, someone in the past opened a similar issue in this repo and I _believe_ it was an issue with VSCode itself (or maybe electron?).

For now, try checking through the old issues and let me know if you were able to find the solution or not.

I'd also suggest checking VSCode's issues to see if something came up there as well.

[2019-12-15 05:50] rasuru commented on #126
Thank you for you reply! I think this issue is somehow related to my OS. I recently upgraded from Ubuntu 18.04 to 19.04. If I remember right, your theme worked perfectly before and it works on Windows too. So, I will try to figure that out on my own. Thank you again!

[2019-12-15 05:50] #126 closed

[2019-12-15 06:09] rasuru commented on #126
Oh, I fixed the problem! I don't know which of these things helped but what I did was:
- Upgrade Electron
- Choose older Nvidia driver version
- Install VS Code Insiders
- Change my Gnome and Gnome Shell themes

[2019-12-17 02:33] jxramos commented on #68
Is there a way to control the style in some sort of hierarchy/precedence of rules much like css conducts?
https://stackoverflow.com/a/25105841/1330381

Those rules get pretty complex, not sure if there's an elegant way to tease out those overlaps from VSCode but would be a nice feature I'd imagine.

[2019-12-30 19:58] mbomb007 opened #127 "Screenshot doesn't show in VS Code"
The screenshot of what the theme looks like doesn't show when viewing extensions from VS Code.

![Capture](https://user-images.githubusercontent.com/22807401/71598459-758d0700-2b0c-11ea-8f9f-9a40c1985708.PNG)

I suspect it's because the href URL for the image is relative, rather than a link to an online image.

[2020-01-05 05:33] rediffusion opened #128 "Syntax Highlighting for each language..."
## About Syntax.

 First of all th10 for an awesome theme! 🎆
I don't understand why the color syntax for all languages that I use (i.e. - C#, JS, TS, AHK, C++, C, Java, Html, CSS, Python...) is the same?
 Is there a wat to implement for ich language his own different ⚡`Syntax Highlighting`⚡ ?

Regards! 👍✌️

[2020-01-05 20:48] dsifford commented on #128
I'm not sure I understand the question you're asking here, but it sounds like you're asking if it's possible to have a different theme for each language? This might be a question better suited for vscode itself, or stack-overflow.

To answer your question: no, this is not possible.

[2020-01-05 20:48] #128 closed

[2020-01-05 21:00] #127 closed

[2020-01-07 05:42] rediffusion commented on #128
@dsifford

0Key, my friend let me explain it another way...

As an example, I'll take the IDE called «[NotePad++](https://notepad-plus-plus.org/downloads/)».
I have a theme called "Plastic Code Wrap". It looks like this:

![image](https://user-images.githubusercontent.com/30071027/71870673-e2fdf080-3127-11ea-8c28-428853d86fee.png)

Now I put here some `code`, then I switch to other languages...

#

[2020-01-10 23:59] mtrojahn opened #129 "Different background colors on the editor"
![Screenshot from 2020-01-10 20-45-26](https://user-images.githubusercontent.com/4460031/72194026-cfce7780-33ea-11ea-8132-0bd4dda33472.png)

I don't know if you can see on the screenshot. But the editor has 2 different background colors. Where there is text the background is a faded version of the default background color.

On the top right and bottom right of the screenshot, you can see the corre

[2020-01-11 00:00] mtrojahn commented on #129
I might add that the difference in colors follow the selected line. It usually apply the odd color in steps of 10 lines.

[2020-01-11 00:17] dsifford commented on #129
Could this be related to #126?

[2020-01-11 01:10] mtrojahn commented on #129
Yep, it's the same problem for sure. I tried switch themes too and nothing happened so I guess it's just one of those things we gotta live with.

[2020-01-11 01:10] #129 closed

[2020-01-16 16:58] ianpan870102 opened #130 "Colours appears to not be the official HEX values"
Something is wrong here, the Dracula theme on my Visual Studio Code looks just a tiny bit too saturated. And when I checked the HEX values -- sure indeed, the hex codes are not the same as the official colours defined in the Dracula home page. But when I look into your source code (yml file), I noticed that you are indeed using the correct HEX values...

I'm a bit lost here, could it be that vscod

[2020-01-16 17:07] dsifford commented on #130
Are you referring to the colors in the integrated terminal? Because those are set to match the values we have defined in the [running spec](https://dsifford.github.io/dracula-spec/) that were agreed upon after [some discussion](https://github.com/dracula/dracula-theme/issues/232) around terminal readability.

[2020-01-16 17:08] dsifford commented on #130
Also, make sure you don't have "dracula-soft" enabled, which is a variant that we made in vscode because macos renders the colors far too saturated, which many folks stated was too hard on the eyes.

[2020-01-16 17:42] ianpan870102 commented on #130
Thanks for the prompt reply. I don't have dracula-soft enabled, and I didn't mean the terminal colors either -- I meant the actual code editor with standard dracula theme.
It could be a macOS or VSCode issue, since others have mentioned that VSCode seems to be using a color-saturating trick to make users think the editor is more "vibrant/exciting" after an update.

[2020-01-17 12:45] dsifford commented on #130
Very strange indeed.

So I assume this is likely out of scope then? Is this issue safe to close here?

[2020-01-17 17:30] ianpan870102 commented on #130
True. I'll close this issue as I don't see it as a problem with your repo. Hopefully, someone in the future could find this thread and provide us with a reasonable explanation.
Thank you for the reply and the work!

[2020-01-17 17:30] #130 closed

[2020-01-23 00:53] #67 closed

[2020-01-28 13:54] ianpan870102 commented on #130
@dsifford Apparently this is a known bug in Electron: https://github.com/electron/electron/issues/10732

[2020-01-28 19:38] hacknug commented on #93
@emilbryggare this seem to work correctly now. Can you confirm if that's the case on your end too?

[code]

[2020-01-28 19:40] hacknug commented on #92
Is this an issue anymore? Can we close it?

[2020-01-28 19:49] dsifford commented on #92
Yep, good to close. Upstream issue with electron. See #130.

[2020-01-28 19:49] #92 closed

[2020-01-29 17:02] hacknug opened #131 "Broken highlighting for destructured parameters"
Pretty sure this is an issue somewhere upstream but reporting first here in case y'all know something about it.

Right now the following snippets look different from each other even though they're the same (besides the three extra line breaks).

[code]

The first issue would be the color of the word `async` which is pink for the first example and green for the second. I'm guessing the syntax is in

[2020-01-29 17:25] dsifford commented on #131
Hey @hacknug!

Yep, this is going to be an upstream issue. Per [the syntax defined in vscode](https://github.com/microsoft/vscode/blob/5936cf11a9f250648549ee73ac366d460f862752/extensions/javascript/syntaxes/JavaScript.tmLanguage.json#L2-L6) you should report this issue here: https://github.com/Microsoft/TypeScript-TmLanguage

Not much we can do from the theme end unfortunately.

[2020-01-29 17:25] #131 closed

[2020-01-29 17:26] dsifford commented on #131
That said, if the scopes are correct but the highlighting is incorrect, reopen. We can totally fix that. (sorry may have jumped the gun!)

[2020-01-29 21:44] emilbryggare commented on #93
![image](https://user-images.githubusercontent.com/1659740/73400149-6af59700-429d-11ea-8bf4-8ac122d1958c.png)

@hacknug confirmed everything is working well now.

[2020-01-29 21:44] #93 closed

[2020-03-10 08:23] sergiz opened #132 "February 2020 update broke typescript and javascript syntax"
There were some changes introducted in February 2020 that break highligting for JS.

More info: https://github.com/microsoft/vscode/issues/92308

[2020-03-10 08:49] leandrocunha commented on #132
You are right @sergiz a strange behavior for me here. Look the component written in white color:
<img width="403" alt="Screenshot 2020-03-10 at 09 46 51" src="https://user-images.githubusercontent.com/1820920/76294999-2b669580-62b4-11ea-8cb2-35fd9bf6b7de.png">

[2020-03-10 09:57] DoanVanThuong commented on #132
![image](https://user-images.githubusercontent.com/26888633/76301055-435c0a80-62f0-11ea-8670-4c49d2ba99df.png)

[2020-03-10 09:58] leandrocunha opened #133 "minimap color enhancement"
Hi guys,
What do you think to update minimap color to keep consistency of colors theme. Look the picture:

![minimap](https://user-images.githubusercontent.com/1820920/76301073-fd864e80-62bd-11ea-8ce9-47ef266ef994.jpg)

[2020-03-10 10:10] beeb opened #134 "Rendered whitespace in selection hard to read"
When displaying whitespace characters in the selected code via `editor.renderWhitespace: selection` (which is the new default, by the way), the characters are hard to see. Pictured here is Python source code.

Dracula:
![image](https://user-images.githubusercontent.com/703631/76302347-198aef80-62c0-11ea-9236-283e82e5cf62.png)

Dracula Soft:
![image](https://user-images.githubusercontent.com/703631

[2020-03-10 10:41] sergiz commented on #132
Of course you have the same issue, it affects every single theme out there which is not adjusted to the new method.

I opened this issue to bring it to attention of the maintainer. For now you can simply use the fix from the link above.

[2020-03-10 13:33] dsifford commented on #134
Open to suggestions you might have, but this is sort of an unfortunate result of how vscode layers their highlights.

See https://github.com/dracula/visual-studio-code/issues/61#issuecomment-346242336

(theres a few more issues where there's discussion about highlight over comments with a similar sentiment as well)

[2020-03-10 13:35] dsifford commented on #132
I'll look into this later this afternoon and push out a fix.

In the meantime, can someone comment a section of code that I can copy paste to reproduce? (screenshots are helpful, but written code is easier!)

Thanks!

[2020-03-10 15:54] beeb commented on #134
Is there a way to easily try different colors on my end? Or do I need to clone the repo and install a local version or something? I'm not too familiar with VSCode extensions

[2020-03-10 18:23] dsifford commented on #134
@beeb see here: https://code.visualstudio.com/api/references/theme-color

[2020-03-10 21:01] dsifford commented on #132
Update: still waiting for [my distro's package repository](https://www.archlinux.org/packages/community/x86_64/code/) to push out the update for vscode. Can't repro til that happens. Should be in the next day or two.

[2020-03-10 21:10] sergiz commented on #132
Basically any JS code.

`console.log()`

already has wrong highlighting.

[2020-03-10 21:17] dsifford commented on #132
Got it, thanks!

[2020-03-11 01:40] DoanVanThuong commented on #132
`editor.semanticHighlighting.enabled": false`

it work for me

[2020-03-11 06:33] beeb commented on #134
Thanks! I found that `#3b3b3b` is  just about where the symbols are visible both when unselected and selected. There are possible variations in saturation that work as well, like `#3a3b3d` maybe.

<img width="404" alt="Screenshot 2020-03-11 at 07 32 38" src="https://user-images.githubusercontent.com/703631/76388933-8955b480-636a-11ea-8e8f-882e67d5f980.png">

[2020-03-11 06:43] beeb commented on #134
Additional option: use transparency, for instance `#ffffff1f` which gives this:

<img width="421" alt="Screenshot 2020-03-11 at 07 43 21" src="https://user-images.githubusercontent.com/703631/76389659-0afa1200-636c-11ea-8d49-ccdc01fb1935.png">

[2020-03-11 07:01] beeb commented on #61
Similar to my other issue https://github.com/dracula/visual-studio-code/issues/134 , one could change the comments color to a lighter shade with reduced opacity, e.g. `#8aa1e59b` which gives:

<img width="344" alt="Screenshot 2020-03-11 at 08 00 55" src="https://user-images.githubusercontent.com/703631/76390854-77761080-636e-11ea-94a6-1399f90c7748.png">

[2020-03-11 11:13] leandrocunha commented on #134
I opened a PR for this improvement, really useful suggestion

[2020-03-11 17:38] EduardoAraujoB commented on #132
![Captura de tela de 2020-03-11 14-02-14](https://user-images.githubusercontent.com/42449213/76446380-c12e1d80-63a5-11ea-8f6f-8ab408b1f8da.png)
the test colors broke with this new vscode update

[2020-03-11 17:39] dsifford commented on #132
Still waiting for my distro to push the vscode update, but when that happens I'll have a fix pushed out shortly after.

[2020-03-11 17:42] EduardoAraujoB commented on #132
Ok, thanks

[2020-03-11 17:45] EduardoAraujoB commented on #132
worked for me too

[2020-03-11 17:46] dsifford commented on #132
Just don't forget to re-enable that when the fix gets pushed out. That's gonna be a killer feature!

[2020-03-11 17:49] EduardoAraujoB commented on #132
Nice, I will re-enable it later

[2020-03-12 13:25] Leeiio opened #136 "Font in screenshot?"
![](https://raw.githubusercontent.com/dracula/visual-studio-code/master/screenshot.png)

I like the font in screenshot, especially the handwriting font like 'this'.

[2020-03-12 13:32] dsifford commented on #136
Ping @cfbender

[2020-03-12 14:03] cfbender commented on #136
Hi @Leeiio! The font is called Dank Mono. You can learn more about it and purchase it [here](https://dank.sh/)

[2020-03-12 14:16] jundge opened #139 "Latest version of vscode is inaccurate in .html file"
![BAC0CA69831FDAEC41662DC7C](https://user-images.githubusercontent.com/24717511/76530609-ef4b5480-64ae-11ea-8f0f-bed089df909b.jpg)
The color of console.log is the same as the parameter color？

[2020-03-12 14:48] #136 closed

[2020-03-12 14:48] dsifford commented on #136
Thanks @cfbender!

[2020-03-12 15:23] bkis opened #137 "Again, counter-intuitive tab highlight"
I came to write this issue and found a closed one from 2017 with the same problem: #21
Maybe it got fixed and changed back later?
Anyway, maybe it's just me, but i think the active tab should be colored similar to the editor background (and the breadcrumbs for that matter), just like everyone knows it from any other ui. This is not very helpful:
![image](https://user-images.githubusercontent.com/9

[2020-03-12 15:36] leandrocunha commented on #137
For me make sense change color of breadcrumb to fit with tabs color and not the opposite

[2020-03-12 15:48] Leeiio commented on #136
Thanks :)

[2020-03-12 18:38] bkis commented on #137
Fine, yes. Whatever makes the active tab look as if it is "in the front". The darker color for inactive tabs and brighter color for active tab don't work if the area below the tabs (be it the editor or the breadcrumbs) has the same color as the inactive tabs. This visually "groups" the inactive tabs with the editor/breadcrumbs.

[2020-03-12 18:57] dsifford commented on #137
If you feel strongly about this @bkis, feel free to open a pull request with before/after images and we can discuss it there.

[2020-03-12 22:22] bkis commented on #137
@leandrocunha you are absolutely right. The editor already has the same color as the active tab. It's just about the breadcrumbs background.
I created a very primitive [PR](https://github.com/dracula/visual-studio-code/pull/138). Maybe you also feel like this is an improvement. I always liked this theme but this one thing annoyed me.

[2020-03-13 12:36] dsifford commented on #133
Not sure I like this change. I'd prefer the minimap to not get in the way and with the purple, it becomes a bit too distracting.

[2020-03-13 14:03] leandrocunha commented on #133
@dsifford Good point and I agree, but the first behavior is like the default sample, in other words minimap will be out of way (without colors distractions) till you interact with him, pointing mouse over him and clicking to scroll

[2020-03-17 13:36] JimmyMultani commented on #132
Hey @dsifford, has your distro pushed an update yet?

[2020-03-17 13:41] dsifford commented on #132
Ugh, no! Getting pretty annoyed and might have to download insiders or something in the meantime.

[2020-03-17 15:58] dsifford commented on #132
@JimmyMultani Update: just compiled it myself and i got the update finally... I'll look into these issues later this evening or tomorrow at the latest.

[2020-03-18 12:55] dsifford commented on #132
Okay, so here's the bummer... It doesn't appear that this is actually fixable beyond turning off semantic highlighting right now.

I quickly combed through some of the issues checking syntax groups and they are all being highlighted correctly, when identified correctly. The issue is, however, that there is some inconsistencies with identification (using react as an example: class components vs fun

[2020-03-18 12:57] JimmyMultani commented on #132
Yeah, that is a bummer. Thanks for looking into it, @dsifford.

On Wed., Mar. 18, 2020, 8:55 a.m. Derek Sifford, <notifications@github.com>
wrote:

[2020-03-18 13:02] bkis commented on #137
Fixed by [PR #138](https://github.com/dracula/visual-studio-code/pull/138)

[2020-03-18 13:02] #137 closed

[2020-03-18 19:14] JimmyMultani commented on #132
FYI @dsifford, the latest VSCode update now defaults semantic highlighting to `false`. So the issue is no longer present.

[2020-03-18 20:37] atomiks commented on #132
After enabling the semantic highlighting in the latest patch release, it works much better than it did before, thank you team 🙏

[2020-03-19 09:15] beeb commented on #134
Fixed by https://github.com/dracula/visual-studio-code/pull/135

[2020-03-19 09:15] #134 closed

[2020-03-19 10:39] sergiz commented on #132
So this can then be turned into a feature request to make Dracula theme support semantic highlighting.

[2020-03-19 13:00] dsifford commented on #132
@sergiz It's on my radar. Plan on deep diving [this](https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview#as-a-theme-author-do-i-need-to-change-my-theme-to-make-it-work-with-semantic-highlighting) when i get some extra time (possibly this weekend).

[2020-03-25 15:16] dsifford commented on #139
Closing as dupe of #132

[2020-03-25 15:16] #139 closed

[2020-03-26 11:43] vsevolod19860507 opened #140 "warning color"
I think warning color should be orange.

[2020-04-04 14:47] Akram-Iyaz opened #141 "It Is Showing Me The ERROR which is discribed in attachment below"
![Screenshot from 2020-04-04 20-12-28](https://user-images.githubusercontent.com/63152553/78453729-3513cb00-76b1-11ea-9448-474f6ae723fe.png)

[2020-04-04 14:47] Akram-Iyaz commented on #141
Can Anybody Help me to sort out this problem?

[2020-04-04 17:24] dsifford commented on #141
Try deleting and reinstalling the theme. Looks like you’re missing a file for some reason

[2020-04-13 02:32] meteorsh opened #142 "How to set a header color in VScode markdown"
How to highlight this header line?
![image](https://user-images.githubusercontent.com/46078304/79087516-14630980-7d72-11ea-96fd-aa56f17ad031.png)

[2020-04-13 13:18] dsifford commented on #142
It doesn't appear that you have the dracula theme enabled.

[2020-04-15 06:20] meteorsh commented on #142
I did enabled the dracula theme download from market, maybe it is the theme that has been modified by others author. What I want to know is that if there is a setting.json file or not so that I can use it to change any color I want.

[2020-04-15 12:16] dsifford commented on #142
https://code.visualstudio.com/api/references/theme-color

[2020-04-15 12:16] #142 closed

[2020-04-16 14:34] Akram-Iyaz commented on #141
Thanks

[2020-04-16 14:34] #141 closed

[2020-04-16 14:40] Akram-Iyaz commented on #141
Still not resolving

[2020-04-16 15:32] dsifford commented on #141
The `theme-dracula` directory seems suspicious. By default, the theme should be installed in a directory named similarly to `dracula-theme.theme-dracula-2.21.0`.

[2020-04-18 17:42] zenorocha opened #143 "Take new screenshot"
Hey @dsifford,

Can you update the screenshot to use the new code snippet?

## New Snippet

[code]

## Why use this?

* It contains examples of string, number, and array
* It contains examples of single line and multi-line comments
* It contains examples of inheritance and functions
* It's simple, funny, and silly

## Want to use another language?

Feel free to send a pull request to the [template

[2020-04-19 13:42] babyraging opened #144 "Semantic Highlighting"
Hello,

I was wondering if there is a plan to support the newly semantic highlighting feature.

https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview

The thme looks already great by only adding these lines to the settings.json, I've been using the theme with the feature enabled for a while.
[code]

Thank you.

[2020-04-19 16:00] dsifford commented on #144
Yep, this is planned.

I'd like to comb through the API [outlined here](https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview#as-a-theme-author-do-i-need-to-change-my-theme-to-make-it-work-with-semantic-highlighting) and make sure all major syntaxes look alright before flipping the switch though.

Maybe next week/weekend.

[2020-04-20 12:24] babyraging commented on #144
Glad to hear it! I'm looking forward to it, thank you.

[2020-04-22 14:58] donatoaguirre24 commented on #144
Hey @dsifford, very happy to hear that. I only want to comment. I tried enabling syntax highlight as @babyraging shows above and I found that in JSX, props, and functions have the same color, any plane to change this??

With syntax highlight:

![image](https://user-images.githubusercontent.com/20030075/79997570-20487d00-8490-11ea-84d3-d0ca911ae6d2.png)

Without syntax highlight:

![image](https://

[2020-04-22 15:05] dsifford commented on #144
@donatoaguirre24 I'd actually say that the first screenshot you provide is more aligned with the [spec](https://spec.draculatheme.com/#HtmlCssAttributeNames) than the current screenshot.

Per the spec as of right now, html attributes are colored green. It's sort of unfortunate in cases where there are lots of attributes receiving lots of functions (like your example), but for most cases I don't th

[2020-04-23 14:33] aeschli commented on #144
Happy to hear you are already on it.

Check out the updated [Semantic Highlighting Wiki](https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview) and the [Semantic Highlighting Guide](https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide) for more details and feel free to ping me in this issue if I can help.

[2020-04-27 12:31] FelipeBohnertPaetzold commented on #126
@rasuru This problem appears to occur when hardware acceleration is enabled.
Follow these steps and see if the problem is fixed:

**1:** Run `Ctrl + Shift + P` in your VS Code and type *Configure Runtime Arguments*
**2:** Add this line to the json file and save:
[code]
**3:** Restart IDE.
___

This solved the problem for me. Please check and post the result

[2020-04-27 15:38] minhkien3123 opened #145 "How dracula displays color in code text"
Looking forward to receiving the help. Thanks a lot

[2020-04-27 15:43] dsifford commented on #145
Can you elaborate what your issue is?

[2020-04-27 15:45] #145 closed

[2020-04-27 15:45] minhkien3123 commented on #145
I installed but could not run, the code does not change color

[2020-04-27 18:04] salarx opened #146 ""Open a remote window" button color is too light for the icon"
The light purple color should be a bit darker or the the white '><' should be replaced with a dark color.
In simple words the contrast is lacking.
![image](https://user-images.githubusercontent.com/22866788/80406373-99f1c800-88e1-11ea-9ac5-aa1668fadbab.png)

[2020-04-27 18:17] salarx commented on #146
For example, on a light background like in the image below,
![image](https://user-images.githubusercontent.com/22866788/80406260-6616a280-88e1-11ea-9f3e-83391c520420.png)
the black arrows give comparatively clearer visiblity.

[2020-04-27 18:45] salarx opened #147 "Weird border around settings icon in Extensions sidebar"
Shouldn't be there.

![image](https://user-images.githubusercontent.com/22866788/80408782-5f8a2a00-88e5-11ea-9e8e-200f475622de.png)

[2020-04-28 19:29] #143 closed

[2020-04-28 19:29] #144 closed

[2020-04-29 17:33] bdielman opened #148 "Variable name highlighting"
Since enabling semantic highlighting I've noticed that the variable name for `const` is highlighted differently than for `let` or `var`. I've attached two screenshots, the first is the latest version of Dracula, the second the default dark theme for VSCode to compare. Not a big deal, but I thought it worth mentioning.

<img width="440" alt="Screen Shot 2020-04-29 at 11 55 47 AM" src="https://user-

[2020-04-29 18:03] dsifford commented on #148
Yeah, the semantic highlighter treats `const` variables as true constants, which is the reason for the color difference.

I'd be open to adjusting back to being the variable color on javascript (js,jsx,ts,tsx) syntaxes if we're able to target those specifically (i believe we can -- see [here](https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide#theming))

Feel free to ope

[2020-04-29 18:16] bdielman commented on #148
Ah, that makes sense. I'll take a look at changing it back and issuing a PR, but I'll close this issue for now. Thanks!

[2020-04-29 18:16] #148 closed

[2020-05-02 11:55] ixitixl opened #149 "Constants turned purple"
While working constants suddenly changed to purple from white. I don't know if its something from my end, a bug or something intended.

From dracula-soft.json in my extensions->theme folder:

{
            "name": "Constants",
            "scope": [
                "constant",
                "variable.other.constant"
            ],
            "settings": {
                "foreground": "#bf9eee"

[2020-05-02 11:56] #149 closed

[2020-05-04 14:24] FaruNL opened #150 ""Border" of different color surrounding the code in the editor"
![vscode dracula](https://user-images.githubusercontent.com/34426099/80974970-1c4d2100-8de7-11ea-8ead-b289b551665b.png)

In the editor, it shows a weird border around the code itself, I tested with different programming languages, so it doesn't seem to be something related to the language.

I've just installed the theme recently with no special configurations changed, however here's my vscode conf

[2020-05-04 14:27] dsifford commented on #150
Dupe of #126 #129

Not an issue with this theme, but [this might fix it for you](https://github.com/dracula/visual-studio-code/issues/126#issuecomment-619956306)

[2020-05-04 14:27] #150 closed

[2020-05-08 13:23] AndreCosta101 commented on #84
Hello,

My version is 2.21.0 and my variables are all purple in VSCode. Where can I revert it back to white?

thank you

[2020-05-08 14:01] dsifford commented on #84
@bdielman is looking into making an adjustment specifically with js/ts (see #148).

If you want to simply disable, you can in your usersettings by turning off semantic highlighting.

[2020-05-08 15:21] AndreCosta101 commented on #84
Thank you so much =)

[2020-05-10 16:44] yandiro opened #151 "Cant handle @ [at] inside src="""
Can't handle this properly:

[code]

![image](https://user-images.githubusercontent.com/27643901/81505257-49428c00-9331-11ea-9eca-82c4759471c2.png)

[2020-05-11 00:52] dsifford commented on #151
This is a syntax issue, so I'd look into reporting this upstream, which appears to be https://github.com/textmate/html.tmbundle according to the [html syntax in the vscode repo](https://github.com/microsoft/vscode/blob/master/extensions/html/syntaxes/html.tmLanguage.json)

[2020-05-11 00:52] #151 closed

[2020-05-12 00:56] AnilSonix opened #154 "Vs Code terminal bug"
The path in terminal gets blacked.

[https://github.com/microsoft/vscode/issues/97521](https://github.com/microsoft/vscode/issues/97521)

[2020-05-13 23:53] Negan1911 opened #152 "Follow Link box is black"
On any case, follow link box is black:
![image](https://user-images.githubusercontent.com/3399236/81877505-a9b51180-955b-11ea-9a76-aaf68d927af0.png)

Should be something like this (VSCode default theme as example):
![image](https://user-images.githubusercontent.com/3399236/81877560-c94c3a00-955b-11ea-8799-dd0409ddd0b7.png)

Please, ignore all the sad errors on my project 😂

[2020-05-14 19:47] dsifford commented on #152
Not sure what the exact problem is, but it appears it has something to do with the layering of those specific color codes in the terminal.

Testing with just regular foreground text doesn't seem to replicate the issue:

![image](https://user-images.githubusercontent.com/5240018/81978796-08c96380-95fa-11ea-89e6-a91909ee3fa9.png)

[2020-05-15 06:54] giulianoAX commented on #152
same problem:
![image](https://user-images.githubusercontent.com/65334135/82020527-8c7e6100-9689-11ea-877e-89f372e83e9e.png)

[2020-05-16 02:24] crThiago opened #153 "font color php closing tag '?>'"
I don't know if it's a bug, but when I comment the php closing tag the font color appears in blue
![image](https://user-images.githubusercontent.com/33141686/82108123-cfc8e600-9702-11ea-8726-2b41d936a7a7.png)

[2020-05-18 13:18] dsifford commented on #153
What other extensions do you have enabled? Seems like a conflict with a different extension.

I can't reproduce this..

![image](https://user-images.githubusercontent.com/5240018/82217526-8b973a80-98e8-11ea-8984-dd983fbbd861.png)

[2020-05-18 23:11] crThiago commented on #153
My mistake, the **Better Comments** extension is creating this blue comment

[2020-05-18 23:11] #153 closed

[2020-05-19 13:36] dsifford commented on #154
@AnilSonix how am i able to reproduce this?

[2020-05-20 08:15] filipemacedo opened #155 "Dracula theme doesn't show correct colors"
![image](https://user-images.githubusercontent.com/28747696/82422105-66c1d500-9a58-11ea-9d14-9a42bf84c8fb.png)

Hello, my theme doesn't show the correct colors of the variables. When I open vscode, it shows the correct colors for a few seconds, but then changes to that color.

My vscode config (except theme color): https://gist.github.com/diego3g/b1b189063d21b96d6144ca896755be64

Can you help me?

[2020-05-20 12:46] dsifford commented on #155
This is because of semantic highlighting. The "const" variables are treated as true constants by the semantic highlighter, which is why they are purple.

There was talk that someone was going to look into this specifically for js/ts, but not sure when this will actually happen.

For now, you can disable semantic highlighting in your editor by disabling semantic highlighting in your user settings.

[2020-05-20 12:46] #155 closed

[2020-05-21 15:39] AnilSonix commented on #154
@dsifford https://github.com/microsoft/vscode/issues/97521

[2020-05-22 01:35] AnilSonix commented on #152
See this https://github.com/dracula/visual-studio-code/issues/154#issue-620461593

[2020-05-22 01:40] AnilSonix commented on #152
Can override in vs code
[code]

[2020-05-26 04:08] rasuru commented on #126
@FelipeBohnertPaetzold Thank you for your suggestion :+1:  I don't know if it helps, because the issue is already gone and I can't replicate it. And I don't really use VSCode anymore (switched to Vim), but maybe it will help someone :smile:

[2020-05-26 15:15] #152 closed

[2020-05-26 15:15] #154 closed

[2020-06-13 02:17] serenedu commented on #122
Awesome! @dsifford

[2020-06-13 02:17] #122 closed

[2020-08-02 12:41] lleeoo commented on #36
FTR MagicPython does not consider this a bug: https://github.com/MagicStack/MagicPython#strings. They want to differentiate syntax highlighting of generic raw strings (R'') from regexes (r'').

[2020-08-25 07:42] itayperry opened #159 "Colors don't match when function arguments (at the function's body) are created inside an object with shorthand property names"
I'll of course show an example :)
In a regular theme if you have a function argument inside the round brackets colored in a certain shade, then the argument inside the function should be colored the same.
The thing is, if I take the argument inside the function and wrap it with curly braces it won't happen.

### A regular theme:
![image](https://user-images.githubusercontent.com/37377389/91145510-

[2020-08-25 15:40] dsifford commented on #159
Hi @itayperry. Glad to hear you're enjoying the theme.

What you're reporting looks to be as expected.

The reason why the colors are the same for the default dark theme is because function parameters and object properties are colored the same, which they are not for dracula.

An example of that can be seen here:

[code]

Hope that makes sense!

[2020-08-27 14:27] itayperry commented on #159
Yes, I guess that's it :) Do you think it'll ever change?? I just really love this theme! 🥇

[2020-08-27 14:32] dsifford commented on #159
Object properties probably will not change.

The function parameter scoping issue would be something that would just need to be updated in https://github.com/Microsoft/TypeScript-TmLanguage

That's outside the scope of this project though, so I have no authority to make any judgment calls as to whether or not that'll happen. There's probably some technical limitations with the textmate regex scopi

[2020-09-02 18:42] danmcgoo opened #160 "Wrong color for console.log in JavaScript/TypeScript"
Since Visual Studio Code 1.48, the color of console.log changed as mentioned in microsoft/vscode#104616.

Here is a screenshot of the behavior before 1.48:
![image](https://user-images.githubusercontent.com/777129/92021692-6f65bf00-ed5a-11ea-8750-e88c0d086808.png)

And here is a screenshot of the behavior since 1.48:
![image](https://user-images.githubusercontent.com/777129/92021668-6543c080-ed5a-

[2020-09-04 16:03] HMaker opened #161 "Highlighting is broken"
![Dracula's highlighting](https://user-images.githubusercontent.com/23155511/92259488-9a145c80-eead-11ea-9453-9547b0fedc8b.png)
VS code version:
Version: 1.48.2
Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
Date: 2020-08-25T10:56:10.074Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-51-generic snap

It suddenly became broken, I did not chang

[2020-09-09 18:40] dsifford commented on #161
I've got to be honest. I don't see what you're seeing. What is broken?

This would lead me to believe that if there is an issue, it is upstream and not related to this project. Maybe check in the vscode repo?

[2020-11-10 08:16] JayMehtaJBM opened #162 "Talking about the disappearance of color picker/color viewer in JSON files"
![Capture](https://user-images.githubusercontent.com/69752445/98647538-05b9f080-235b-11eb-82f5-2b5fd46ad67f.PNG)

i was messing around in **dracula themes JSON file** and i found one thing ... The color was highlighted but the _small color picker/ color viewer was disappeared_ ... then i checked dark+ ( built in theme)'s JSON file and it was there ... Why this happened ... Plz help me ...

## This

[2020-11-10 14:30] #162 closed

[2020-11-16 04:07] azukacchi commented on #124
Hello, I recently installed this theme. Is the dark cursor when working with Jupyter Notebook the default setting now? Because I have the same problem, the cursor is dark in .ipynb but white in .py

[2020-11-16 19:47] dsifford commented on #124
@azukacchi I just checked and you are correct, the soft variant still had the issue.

I went ahead and fixed that and and pushing out a release right now that should fix the issue for you. Should show up in vscode in the next few minutes.

[2020-11-17 02:41] azukacchi commented on #124
already installed the update. looks great! 👍

[2020-11-17 03:00] ajdajd opened #163 "Python docstring color change in Dracula Soft in version 2.22.2"
There was a release a few hours ago and I noticed this change in Python docstring color. I am not sure if this is intended.

Theme: Dracula Soft
Left panel: 2.22.2
Right panel: 2.22.1

![image](https://user-images.githubusercontent.com/13794421/99340673-72853b80-28c3-11eb-8ca5-155e7a8b252a.png)

[2020-11-17 17:45] luizwhite opened #164 "entity.name.type overrides"
Why this rule is overriding for me?

<img src="https://user-images.githubusercontent.com/4944479/99426520-f3076480-28e2-11eb-9160-a03463736d18.png" width="500">

ANother theme that I have, the same rule "entity.name.type" does not override "meta.type.parameters entity.name.type"

I can't understand what's going on.

**Dracula Soft Theme**

[2020-11-23 03:25] GoodbyeNJN opened #165 "Color in v2.22.2 looks brighter than v2.22.1"
After upgrading to v2.22.2, the color scheme of the soft theme looks brighter. I don't know if this change is expected or unexpected. Screenshot below:

![v2.22.1](https://s3.ax1x.com/2020/11/23/DJiThQ.png)
![v2.22.2](https://s3.ax1x.com/2020/11/23/DJiotg.png)

[2020-11-23 14:03] dsifford commented on #163
This was intended. I discovered a bug in the build phase of the soft variant that caused some colors (namely, comments in this example) to not receive any color definition. Therefore, the scheme just defaulted back to the default dark comment color.

[2020-11-23 14:03] dsifford commented on #165
Dupe of #163. This was intended. There was a bug in the build phase of the soft variant that caused comments to not actually receive any color specifications, which caused it to match the default comment color.

[2020-11-23 14:05] dsifford commented on #164
I'm not sure I understand the question. Can you elaborate a bit further?

[2020-11-23 15:36] luizwhite commented on #164
sorry, i am not an advanced user
I was just trying to understand why the "entity.name.type" rule overrides the "meta.type.parameters entity.name.type"
I say this because the color inside TS type declaration is the same that the entity typed
![image](https://user-images.githubusercontent.com/4944479/99975836-76accf80-2d81-11eb-82be-f542ca019845.png)

But in other theme that i have, the theme has th

[2020-11-23 17:03] GoodbyeNJN commented on #165
Thank you for your reply, but on my screen, not only did I observe the abnormal color in the comment part, but all other colors appeared brighter. Is this also intended?
For example, in v2.22.2, the color of the string "4.17.5", the keyword "function", the keyword "RegExp" and the number "32" are all brighter than v2.22.1, which can be confirmed with a color picker.

[2020-11-23 17:35] dsifford commented on #165
Bug fix might have introduced another bug. I'll check on this soon.

[2020-11-23 21:50] geekley opened #166 "Terminal blue is way off"
Please fix the terminal blue/brightBlue colors. They're way off (in purple).
To test just do a `ls /` in bash. Folders should be blue. The purple is really confusing.
[To test all terminal colors](https://stackoverflow.com/a/30578008): `for ((i=0; i<=48; i++)); do; tput setaf "$i"; echo HELLOBASH; done`

Dracula v2.22.2
![code-dracula](https://user-images.githubusercontent.com/38332912/100018030-8

[2020-11-24 13:51] dsifford commented on #166
This is the intended color. Terminals have the concept of `blue` and `cyan` so we chose our `blue` representation to be the dracula purple color. This is firm and will not be changing.

[2020-11-24 13:51] #166 closed

[2020-11-24 14:36] #165 closed

[2020-11-24 21:25] geekley commented on #166
Do you have something against the blue color? :laughing: You just skipped it in your palette... why not just add one more color?
I mean... purple is not a shade of blue by any stretch of the imagination. That's like saying orange is a shade of red. Also, I'd think Dracula and bats have everything to do with blue.

Palettes are meant for mapping colors to semantics, but like you said terminals do h

[2020-11-24 22:12] dsifford commented on #166
You're not wrong, but this is just how it's defined in the spec.

You're free to make your case [here](https://github.com/dracula/spec) if you feel strongly about the change.

I will say, however, in your example I would argue having `blue` represented with the purple color is much more distinct and differentiable between the `cyan` color shown. The blue and cyan there are far too close to being t

[2020-11-24 23:17] geekley commented on #166
Agree. Ideally, the contrast (hue angle diff) in magenta/purple/blue/sky/cyan would be somewhat consistent, or at least as much as the palette allows it.

[2021-01-05 06:52] wenfangdu opened #167 "[Vue] broken slot highlighting"
Broken behavior:
![code](https://user-images.githubusercontent.com/28700378/103615492-a694e880-4f65-11eb-9ee1-3ace0d289af4.png)

Normal behavior:
![ss](https://user-images.githubusercontent.com/28700378/103615593-ce844c00-4f65-11eb-9bad-aaf35bd5d3c3.png)

[2021-01-05 14:16] dsifford commented on #167
This looks like it's probably an issue that should be opened with the vue syntax provider you're using.

[2021-02-01 09:48] jankeromnes opened #168 "Latest GitHub Releases don't have a .vsix asset"
The two latest GitHub Releases don't have a `.vsix` asset.

Could you please upload one for https://github.com/dracula/visual-studio-code/releases/tag/v2.22.3? 🙏

[2021-02-01 13:42] dsifford commented on #168
Looks like there's a weird bug going on in the build action. I'll look into that later.

In the meantime, I uploaded a vsix to the latest release manually.

[2021-02-03 15:38] bigpick opened #169 "Add option for shipped VS Code Markdown Preview css?"
The VS Code theme looks great. I was wondering if it'd make sense to also include a CSS sheet for the built in VS Code Markdown Preview as part of the repo as well.

The downside is that there still doesn't seem to be a way to nicely, universally enable custom Markdown styling in VS code (ref [#45260](https://github.com/microsoft/vscode/issues/45260), [#77290](https://github.com/microsoft/vscode/i

[2021-02-03 15:39] bigpick commented on #169
Example CSS file used for the above:

[code]

[2021-02-03 19:33] dsifford commented on #169
Not sure how I feel about this.

I actually personally prefer to have my markdown preview styled exactly like how it appears on github so I can preview how readmes look before pushing changes.

I will say, however, that I am very much against creating a file in the home directory for this. I'm fairly certain that there must be an API for styling the markdown preview because the [markdown preview](

[2021-02-03 20:12] bigpick commented on #169
Yeah, that was just an example. Net is just that it has to be in some constant/consistent location, so that the hacky symlink stuff will work.

If you find it, I'd be interested in hearing what it is. Everything I've read up seemed to suggest that the only other way of getting this functionality is via making your own Extension (like the above). All that extension consists of is the Gitub CSS file

[2021-03-03 04:22] TestedDog opened #170 "Function argument variables no longer changing color within function"
I recently noticed that some of my colors are not behaving like they did just a few hours ago.

Previously, they looked something like this:
![image](https://user-images.githubusercontent.com/17938868/109752050-b0297e00-7bad-11eb-87e1-0aa95620360d.png)
Notice how "props" is orange and italicized both in the function and as an argument.

Currently, my code looks like this:
![image](https://user-ima

[2021-03-03 19:17] dsifford commented on #170
@TestedDog It sounds like you likely disabled semantic highlighting in vscode.

Can you check to see if `editor.semanticHighlighting.enabled` is set to `true`?

[2021-03-03 19:21] TestedDog commented on #170
Looks like it was set to `configuredByTheme` by default. I tried setting it to `true` with no success.

[2021-03-03 19:38] dsifford commented on #170
I see.

Yeah, what's odd is the "before" pic you attached is actually not how the theme is set up to work. Only function parameters should be highlighted in the orange color.

The reason that I thought it might have been semantic highlighting is that in that condition, the editor becomes aware that the `props` variable is a parameter and can retain the parameter highlighting.

With default highlig

[2021-03-03 22:14] TestedDog commented on #170
Interesting. It was the first picture I found of what I had sort of looked like before. Apologies for any confusion. Regardless, "oldState", which is definitely an argument was highlighted before. Is there anything else I can try?

[2021-03-03 22:16] dsifford commented on #170
Unless I'm misunderstanding you, it looks like from your example `oldState` is highlighted correctly in the argument scope.

In the other places where `oldState` is being used, it isn't in a function argument scope so it highlights it as it would any variable.

[2021-03-03 22:27] TestedDog commented on #170
I see what you mean. I just went to look to find another example to make sure I'm not seeing things (and because I am unable to reproduce it) and sure enough, nothing I found looked like what I would swear I used to have. Seeing as this is apparently not a feature, is there any way I can add this manually on my end? (I read a post a little while ago where someone was recommended to make a change l

[2021-03-04 17:49] dsifford commented on #170
That's odd. I just double checked my vscode editor and in an empty js file, my const variables look like this.

![image](https://user-images.githubusercontent.com/5240018/110006694-f682f800-7ce7-11eb-8e69-19aceaf97063.png)

Have you tried reinstalling the extension?

[2021-03-04 20:23] TestedDog commented on #170
I've just tried reinstalling both the theme and VS Code and unfortunately, my code still looks the same.

![image](https://user-images.githubusercontent.com/17938868/110025557-85e6d600-7cfd-11eb-85c6-983a496aadfb.png)

[2021-03-04 20:32] dsifford commented on #170
Hm... Can you try nuking your user settings?

[2021-03-04 20:32] TestedDog commented on #170
Do you mind telling me how? I have to admit to being quite new at this.

[2021-03-04 20:34] dsifford commented on #170
Yeah, it looks like your editor just isn't using semantic highlighting.

You should have a `settings.json` file saved [in one of these locations](https://code.visualstudio.com/docs/getstarted/settings#_settings-file-locations) (depending on platform). Just rename that file something else and then reload vscode.

[2021-03-04 20:39] TestedDog commented on #170
Just tried that. My settings now exclusively consist of:

![image](https://user-images.githubusercontent.com/17938868/110027194-ad3ea280-7cff-11eb-8bdb-259caf386a9d.png)

Unfortunately, still no change.

[2021-03-04 20:50] dsifford commented on #170
Hm... very strange indeed.

Is your friend also on a Windows machine?

[2021-03-04 20:53] TestedDog commented on #170
Yep. And I think I mentioned earlier that this used to work and somehow changed at some point. I cannot even begin to think what I could have done that would cause this. Not to mention, it should have been fixed by a fresh install. However, I was signed into my Microsoft account. I might give it another try being signed out, so it doesn't import any old settings.

[2021-03-04 20:58] TestedDog commented on #170
Success! I logged out of my account as well as deleted any lasting VS Code data. Not sure what did the trick.

![image](https://user-images.githubusercontent.com/17938868/110029393-69996800-7d02-11eb-9e3b-0304724d235b.png)

[2021-03-04 21:04] dsifford commented on #170
Glad to hear. Closing this for now. Open it back up if you notice any other oddities.

[2021-03-04 21:04] #170 closed

[2021-03-05 14:07] TestedDog commented on #170
Found the problem. Apparently, I was viewing my code in Plaintext instead of JavasScript and when it is in plaintext, semantic highlighting does not appear to work. Figured I'd mention it.

[2021-03-21 14:00] theb4ku opened #171 "Blue and white colours of class - setting one for both"
Hey, can you guys help me to navigate which line I should change in .json file to change white colour to blue? As in the screenshot, the **Program** class is blue but the **Thread** class is white and I would like to change that to also blue.
![image](https://user-images.githubusercontent.com/75274385/111907531-117a9980-8a56-11eb-9df5-1a9860c33c80.png)

[2021-03-23 19:17] dsifford commented on #171
@theb4ku do you have a minimal example file I can take a look at? Difficult to say otherwise.

It looks like you have semantic highlighting enabled for that given the hover info, but unsure.

[2021-03-23 20:21] theb4ku commented on #171
@dsifford [https://github.com/theb4ku/dracula-Issue/blob/main/Program.cs](url)
Check this out, and for example in 20-22 lines class are blue but in line 36 class is white. I am sure this occurs when I use classes and their methods from other namespaces for example **class.Method();** And it's same problem with parameters in lambda or methods - it's possible to set parameter's color to orange too i

[2021-03-24 13:39] dsifford commented on #171
@theb4ku Ah, thank you for the example.

The issue is due to the syntax engine of vscode. For anything other than (IIRC) JavaScript and TypeScript, vscode uses TextMate syntaxes which applies colors with the use of complex regular expressions.

Because of the fact that these regexes can't be aware of context, it's unable to know that the use of classes are actually classes and not like variables o

[2021-03-24 17:05] theb4ku commented on #171
Hey, I figure it out how to fix it. In settings we need to change `Editor › Semantic Highlighting: Enabled` to `true` and for c# language we need to check box in `Csharp › Semantic Highlighting: Enabled`. Thanks for answers @dsifford because of that I checked this two options.

[2021-03-24 17:05] #171 closed

[2021-03-25 00:32] dawidbak opened #172 "Changing colour of class in Dracula Official on vsCode"
Hey, can you guys help me to navigate which line I should change in .json file to change white colour to blue? As in the screenshot, the **Program** class is blue but the **Thread** class is white and I would like to change that to also blue.
![image](https://user-images.githubusercontent.com/75274385/111886124-388c8900-89cc-11eb-9493-4f859facc39d.png)

[2021-03-25 00:32] #172 closed

[2021-03-25 11:19] XiNiHa opened #173 "Some scopes used by rescript-vscode have no color"
Several scopes that `rescript-vscode` uses have no color bound in Dracula.

Scopes I found:
- `entity.name.namespace`
- `variable.other`/`variable.function`
- `variable.annotation`

The full grammar definition is also available:
[https://github.com/rescript-lang/rescript-vscode/blob/master/grammars/rescript.tmLanguage.json](https://github.com/rescript-lang/rescript-vscode/blob/master/grammars/resc

[2021-03-26 18:42] #161 closed

[2021-04-02 10:19] CmdQ opened #175 "Multi-cursor colors barely visible"
When using multi-cursors via <kbd>ctrl</kbd>+<kbd>d</kbd> to change multiple occurrences at once, you can barely tell which words are already selected and which aren't. You have to wait for the caret to flash because the color doesn't give it away. In all these images, the upper 3 “countTriplets” _are_ selected:

![barely-visible](https://user-images.githubusercontent.com/1744960/113406708-3fdc6b0

[2021-04-08 06:45] sergiz commented on #132
I guess that this has already been resolved.

[2021-04-08 06:45] #132 closed

[2021-04-20 05:04] faydanube opened #179 "The default style of search is so poorly discerned that it makes you dizzy and dizzy"
![对比度](https://user-images.githubusercontent.com/8817046/115340188-d3999e00-a1d8-11eb-9934-7d7a4b3ae8f2.png)

[2021-04-27 20:33] misolori opened #176 "Add secondary button styles"
VS Code will start using the secondary button style in custom dialogs. These are visible on Windows and on the web (i.e. Codespaces). To see this:

1. [Install Insiders 1.56](https://builds.code.visualstudio.com/builds/insider)
2. Set `"window.dialogStyle": "custom",` in your user settings
3. Try to close an unsaved file that will prompt the dialog below

![image](https://user-images.githubusercon

[2021-04-28 18:06] dsifford commented on #176
Thanks @misolori!

Are you aware if this is planned to roll out on the next stable release?

[2021-04-28 21:49] misolori commented on #176
Yes, this is planned to be in the next release that should ship next week.

[2021-04-29 00:13] kathleenmiranda opened #177 "HTML tag's style property is not colored correctly"
Hello, I'm using VS Code version 1.55.2 and noticed that the style property in HTML files is not following the color scheme.
![image](https://user-images.githubusercontent.com/59895389/116487019-58358d80-a865-11eb-9de0-f08a2c0fd9c7.png)

In the screenshot above, you can see that only the first quotation marks are yellow, while the rest is white, including the closing quotation marks. This is happe

[2021-04-29 00:30] dsifford commented on #177
This is likely an issue with the syntax. To verify, see if a similar issue occurs with any other theme.

[2021-04-29 15:53] kathleenmiranda commented on #177
I changed the theme and it only seems to happen on the Dracula themes.

Here is the screenshot when using Atom One Dark Theme:
![image](https://user-images.githubusercontent.com/59895389/116579458-c96a5480-a8e8-11eb-949f-877a5a0394d5.png)

Here it is with the default VS Code theme:
![image](https://user-images.githubusercontent.com/59895389/116579504-d424e980-a8e8-11eb-9676-8bde2108d71d.png)

And

[2021-05-02 23:43] jeffteixeira commented on #78
@dsifford congratulations on your work on the dracula theme. I would like to know if you hear any updates related to this issue.

[2021-06-07 13:08] rbrasco opened #180 "Python not properly colored"
theme: Dracula v2.22.3
Colors do not appear on:
- `def`
- `return`
- variables
- strings
![Screenshot from 2021-06-07 15-06-43](https://user-images.githubusercontent.com/38588779/121021808-0ce69700-c7a2-11eb-8b83-9d31a42fbed8.png)

But, on top of the same file:
![Screenshot from 2021-06-07 15-10-57](https://user-images.githubusercontent.com/38588779/121022468-a2822680-c7a2-11eb-90aa-9f1236d16f19.p

[2021-06-07 13:14] dsifford commented on #180
Does this issue happen with other color themes? If so, this is going to be an issue with the syntax, not the theme.

[2021-06-09 11:04] rbrasco commented on #180
This issue happens with other color themes indeed.

[2021-06-09 11:07] rbrasco commented on #180
I found the problem, conflicting pluggins for python!

[2021-06-09 11:07] #180 closed

[2021-06-15 15:11] dsifford commented on #177
Fixed in 252f50b35b83aa66222104d8782082f776d67c6e

[2021-06-15 15:11] #177 closed

[2021-06-19 12:13] wenfangdu opened #181 "[FR] update Quick Pick & suggest widget colors"
[VSCode `v1.57.0` release introduced a few new color tokens that control focus foreground](https://code.visualstudio.com/updates/v1_57#_updated-quick-pick-suggest-widget-colors):

- `list.focusHighlightForeground`
- `quickInputList.focusForeground`
- `editorSuggestWidget.selectedForeground`

Which need to be reflected in the VSCode Dracula theme as well.

The current default `editorSuggestWidget.s

[2021-06-23 18:43] UnrealApex opened #182 "Repo website wrong"
The repo website links to the theme for `IDLE` instead of Visual Studio Code.
![Screenshot 2021-06-23 11 42 39 AM](https://user-images.githubusercontent.com/79121360/123151375-3d703700-d418-11eb-9086-8895c0e32d18.png)

[2021-06-23 19:16] dsifford commented on #182
Thanks. Fixed!

[2021-06-23 19:16] #182 closed

[2021-07-03 08:39] wenfangdu opened #183 "Adjust `editor.selectionBackground` & `editor.selectionHighlightBackground`"
Currently, these two colors are almost indistinguishable, more contrast would be better.

![image](https://user-images.githubusercontent.com/28700378/124348906-39fe5c00-dc1f-11eb-891f-d352f0ad5ab8.png)

Can't tell `statusBar` with the cursor is selected or not:

![image](https://user-images.githubusercontent.com/28700378/124348812-cfe5b700-dc1e-11eb-8d5e-12090e323a74.png)

[2021-07-03 22:05] jeffteixeira commented on #78
Hi. Any news?

[2021-07-04 02:12] wenfangdu opened #184 "[Bug] Multiple selections aren't rendered correctly"
Default dark theme config:

[code]

![2021-07-04 10_07_42](https://user-images.githubusercontent.com/28700378/124370979-b5a7e980-dcaf-11eb-8f83-8d9f633b8f3b.gif)
Dracula config:

[code]

![2021-07-04 10_11_25](https://user-images.githubusercontent.com/28700378/124371018-4b437900-dcb0-11eb-87d9-a17d8343293d.gif)

[2021-07-04 06:40] gfyre opened #185 "Bezel around terminal"
There is a bezel around the terminal window when a new session of VSCode is created.

<img width="1096" alt="Screenshot 2021-07-04 at 12 04 51 PM" src="https://user-images.githubusercontent.com/23535062/124375596-abdab200-dcc0-11eb-9497-d8eb79d8a337.png">
<img width="826" alt="Screenshot 2021-07-04 at 12 05 00 PM" src="https://user-images.githubusercontent.com/23535062/124375598-aed5a280-dcc0-11eb

[2021-07-10 23:10] adityamwagh commented on #78
I want to know about this too.

[2021-07-15 02:52] jeffteixeira commented on #78
A possible workaround: https://github.com/microsoft/vscode/issues/32579#issuecomment-341502559

[2021-07-15 15:36] tchar opened #186 "Python: Undefined functions/variables/methods/properties have the same color with the defined ones"
Hey.

Check the screenshot below between the default theme from Vs Code and Dracula.
Dracula colors all the missing variables/props/methods/functions with the same corresponding color as the non missing ones.

VS Code theme puts the missing ones in white (different color than non missing).

Its easier to distinguish when you make a typo or something.

See `dracula.get()` vs `dracula.no_get()`, `dr

[2021-07-29 06:49] MiguelGuthridge commented on #61
Just bumping to ask if there's going to be a fix for this? To me, it looks like selections are exactly the same colour as the highlights that VS Code does for matching words. Any guesses on which ones of these I have selected and which ones are highlighted? I'm not even sure anymore and I was the one that made the selections.
![image](https://user-images.githubusercontent.com/31365175/127444999-96

[2021-08-02 14:58] dsifford commented on #185
@gfyre I'm unable to reproduce this.

Does this also happen with shells other than zsh?

[2021-08-02 15:23] dsifford commented on #183
I tried playing with this for a bit just now and it's unfortunately not as simple as just adjusting those two regions.

This gets tricky, particular in "smarter" synataxes (like javascript, for example) because `editor.wordHighlightBackground` and `editor.wordHighlightStrongBackground` seem to also play a role in this and that role appears to be of a higher priority.

So I'm not sure there is an e

[2021-08-02 15:29] dsifford commented on #181
I'm not seeing what you're seeing

![image](https://user-images.githubusercontent.com/5240018/127886241-449d63e0-adb0-4943-98ea-474bb8b59b1d.png)

[2021-08-02 15:47] #163 closed

[2021-08-02 15:48] #167 closed

[2021-08-02 15:48] #159 closed

[2021-08-02 15:49] #160 closed

[2021-08-02 15:58] #123 closed

[2021-08-02 16:14] #147 closed

[2021-08-02 16:14] #176 closed

[2021-08-02 16:14] #120 closed

[2021-08-02 16:14] #146 closed

[2021-08-02 16:20] #168 closed

[2021-08-02 23:49] tchar commented on #186
@dsifford Hmm that's weird

Just to confirm.
- The default theme is Dark+ (default dark)
- Python extension (`ms-python.python`) is installed
- You saved the file once (idk but for new files doesn't work on me either unless I save them at least once)
- Linter doesn't matter

I guess the coloring comes from the python extension

[2021-08-03 01:39] wenfangdu commented on #181
@dsifford What version of VSCode are you using? The setting to unset the icon color isn't published yet:

- https://github.com/microsoft/vscode/issues/128062

Similar issue to mine:

- https://github.com/microsoft/vscode/issues/125998

[2021-08-03 01:39] wenfangdu commented on #181
@dsifford Which version of VSCode are you using? The setting to unset the icon color isn't published yet:

- https://github.com/microsoft/vscode/issues/128062

Similar issue to mine:

- https://github.com/microsoft/vscode/issues/125998

[2021-08-03 06:32] danmcgoo commented on #160
@dsifford So, is this issue fixed or just closed and will never be fixed ?

[2021-08-03 10:50] gfyre commented on #185
Hey @dsifford, yes it does. Here's the screenshot for TMUX
<img width="1170" alt="Screenshot 2021-08-03 at 4 19 39 PM" src="https://user-images.githubusercontent.com/23535062/128003524-39f982e3-c634-4d34-b8f8-7245458ca5cf.png">

and here's one of Bash

<img width="1172" alt="Screenshot 2021-08-03 at 4 19 13 PM" src="https://user-images.githubusercontent.com/23535062/128003476-ea8c7c2f-a477-4896-b8

[2021-08-04 01:22] nyomanartha opened #187 "Dart Extension : Ruined The Font Color"
Hello Good Sir,

I am currently learning Dart languages, and I'm in Love with Dracula theme.
However, I just noticed that, while enabling the Dart Extension in Visual Studio, the color of the font in Dracula theme seems to be ruined. I have tried to restart it several times, and even install and uninstall VS Code and Dracula themes, however nothing works.

Here is the video recording of what happe

[2021-08-04 20:11] dsifford commented on #186
Still not able to repro after following your steps.

![image](https://user-images.githubusercontent.com/5240018/128248190-a43a265a-a56f-4804-85bb-b125dc7319a7.png)

[2021-08-04 20:12] dsifford commented on #181
My screenshot was taken using `v1.58.0`

[2021-08-04 20:13] dsifford commented on #160
@danmcgoo The updated color is more correct than the previous color.

If you'd like to revert it to the old format, this is something I would suggest doing in your user settings.

[2021-08-04 20:15] dsifford commented on #185
@gfyre I trust that it is happening to you, but I'm still not able to repro on my end.

Any more details that would allow me to repro would be appreciated.

[2021-08-04 20:18] dsifford commented on #187
@nyomanartha I'm not able to repro this behavior on my end...

![image](https://user-images.githubusercontent.com/5240018/128249078-701901d4-02e1-4350-915d-1cc0873e62b6.png)

There's a chance that there's another extension that you have installed that is creating this issue. Try disabling other extensions to rule that out.

[2021-08-04 20:41] tchar commented on #186
Huh? that's weird

I disabled all my extensions and left only the python extension open. Indeed it doesn't color them on its own. What colors them is pylance (`ms-python.vscode-pylance`) which at least in my case was installed when I installed the python extension (`ms-python.python`).

You can disable pylance and the python extension still works and produces your screenshot. With pylance and a re

[2021-08-05 02:16] nyomanartha commented on #187
Thank you for the feedback :)

The strange thing is that, i have tried disabling all other extensions, and it only happened when Dart Extension is enabled.

Anyhow, I have found the solution for this problem by disabling semanticHighlighting inside the dart extension setting in the "settings.json" by adding this text

`"editor.semanticHighlighting.enabled": false`

![image](https://user-images.git

[2021-08-05 07:43] danmcgoo commented on #160
@dsifford Thank you for you reply.

[2021-08-05 15:12] dsifford commented on #187
That's quite strange because I had semantic highlighting enabled when I looked into this and still didn't notice a problem.

[2021-08-06 15:47] dsifford commented on #186
Is the pylance server only available with insiders using proposed apis? Can't get it to work on my regular vscode build.

[2021-08-06 18:29] tchar commented on #186
In case these matter:
- VSCodeVersion: 1.59.0 (commit: 379476f0e13988d90fab105c5c19e7abc8b1dea8) from [snapcraft](https://snapcraft.io/code)
- OS: Ubuntu 20.04.2 LTS
- Python: 3.8.10

(But same behavior with Windows 10, Python 3.9 from Windows Store)

No I don't think so. To be honest I was using settings sync so I was not sure if any settings were picked up from Windows (in case I registered in s

[2021-08-06 18:46] dsifford commented on #186
@tchar This is great info. Appreciate the detail here.

I'll check into this in a bit and ping back with an update. Might be later this evening/tomorrow.

[2021-08-06 18:48] tchar commented on #186
Sure, take your time. If you need the exact versions of Windows, Python and Vscode form my windows installation, I can log it and get them for you.

Cheers!

[2021-08-06 23:02] #186 closed

[2021-08-08 03:51] wenfangdu commented on #181
@dsifford Strange, upgrading to `v1.59.0` fixed this issue for me, but it's 100% reproducible for `v1.57.x` using `v2.23.1` Dracula.

[2021-08-11 22:16] thinety opened #188 "Python: function calls not highlighted when semantic highlighting is disabled"
I believe 73c38e45f797daadfbad9e5e038b8d46f87969fe introduced some unwanted behavior.

With semantic highlighting enabled:
![image](https://user-images.githubusercontent.com/51510921/129109824-91518aba-1ccc-4900-ada5-e53ffee20fe1.png)
![image](https://user-images.githubusercontent.com/51510921/129109759-ce177a56-6824-4f95-9a0e-52cb59f11b31.png)
Both are expected.

Now, with semantic highlighting d

[2021-08-11 23:40] dsifford commented on #188
Thoughts @tchar?

[2021-08-12 03:05] jeffteixeira commented on #78
How complex would it be to implement this functionality @dsifford?

[2021-08-12 03:06] jeffteixeira commented on #78
I have difficulties reading italic text

[2021-08-12 03:37] #181 closed

[2021-08-12 07:45] tchar commented on #188
Hey @dsifford.

Although I have no idea about the available keywords you can use when defining colors and if you can programmatically check about any highlighting/language server being used this is the default behavior for all color schemes I have tested with language highligting disabled.

Here are some samples with language server disabled:

Dark+ (default VSCode)
![darkplus_foo](https://user-im

[2021-08-15 19:13] jeffteixeira commented on #78
On screens with HD resolution or lower (which is my case), italicized texts are not very readable @dsifford

[2021-08-15 22:41] dsifford commented on #78
All: I hear you and understand that this is an issue that faces many, many people. I personally think the ability to opt out of text formatting should be a feature at the editor level, and should not be the responsibility for every theme maintainer. I have reached out to the team at Microsoft about this via email a few weeks ago and will report back with any updates as they roll in.

Appreciate th

[2021-08-15 22:59] jeffteixeira commented on #78
We thanks you :)

[2021-08-22 03:07] wenfangdu commented on #184
@dsifford Please see https://github.com/microsoft/vscode/issues/127948#issuecomment-902540074:

[2021-08-22 03:12] wenfangdu commented on #183
@dsifford Fixing https://github.com/dracula/visual-studio-code/issues/184 would partially solve this issue.

As for

We can fix this later if a better solution is raised.

[2021-08-22 23:04] wenfangdu commented on #181
@dsifford I found out it was fixed by https://github.com/microsoft/vscode/pull/126288#issue-669835650 in v1.58. `list.activeSelectionIconForeground` was enabled for all themes in v1.57, therefore caused this issue.

[2021-08-23 01:56] jeffteixeira commented on #78
In the vim editor, the dracula theme has the option to disable italic texts by adding the line `let g: dracula_italic=0` in the configuration file. Is it really the editor's responsibility to do this?

[2021-08-23 12:44] dsifford commented on #78
@jeffteixeira I maintain the vim implementation as well.

Yes, it is the editor's responsibility because vim and VSCode fundamentally do not work the same way.

[2021-08-23 13:17] dsifford commented on #184
@wenfangdu Try setting `editor.selectionHighlightBackground` to `#8BE9FD30` and let me know if you are satisfied with that.

[2021-08-23 14:19] wenfangdu commented on #184
@dsifford Can you give a color suggestion for `editor.selectionBackground` as well, so I can check them in comparison.

[2021-08-23 23:31] wenfangdu commented on #184
This is the `editor.selectionBackground` & `editor.selectionHighlightBackground` comparison in the default dark theme:

![image](https://user-images.githubusercontent.com/28700378/130531814-f88104c5-9d7c-4dd6-a649-d4df74d9e58e.png)

This is the `editor.selectionBackground` & `editor.selectionHighlightBackground` comparison in the Dracula theme:

![image](https://user-images.githubusercontent.com/2

[2021-08-24 02:41] jeffteixeira commented on #78
Ok

[2021-08-24 09:03] igonro opened #190 "[Bug] Selection after snippet isn't working correctly"
I found this bug using the following Python snippet:
[code]

I've tested it out and this also happens for other languages snippets.

Current behaviour:
![image](https://user-images.githubusercontent.com/6860957/130588108-a35942b1-8de9-4d7e-9bf2-bc67379aca96.png)

Expected behaviour:
![image](https://user-images.githubusercontent.com/6860957/130588221-9be3276a-d6fc-4f5c-aee3-0c0a7d758ea1.png)

Othe

[2021-08-24 13:32] brannonh commented on #190
I just checked this in my VS Code setup, and I don't have this problem. Do you have anything in your settings JSON that might be contributing to this behavior? For example I've added settings in `workbench.colorCustomizations` that (purposely) accomplishes something similar to what's in your screenshot.

[2021-08-25 07:12] leechaojie opened #191 "[bug] SYNTAX issue"
Fold the code and then select the code, where the selected code is not highlighted

Before the code Fold, selected code is highlighted

<img width="931" alt="image" src="https://user-images.githubusercontent.com/28593271/130742416-3c4ab178-8925-4d32-9eb9-a6ab5713b207.png">

After the code Fold, selected code is not highlighted

<img width="885" alt="image" src="https://user-images.githubuserconten

[2021-08-28 01:27] GeoffMaciolek opened #192 "Replace screenshots with non-subpixel-renderedversions"
(There will be a pull-request momentarily; wanting to reference this issue # in my commit.)

## The Problem

The **excellent** [screenshot](screenshot.png) provided here has a minor issue - the computer that rendered it is set to use [sub-pixel rendering](https://en.wikipedia.org/wiki/Subpixel_rendering) - this is fine when viewed at normal sizes on typical desktop LCD displays, but does not scale

[2021-08-30 09:43] igonro commented on #190
My settings.json is like this, I don't know what could be wrong...
[code]

[2021-08-30 09:49] igonro commented on #190
@brannonh I tried removing the colorCustomizations that I have, but the behavious remains the same...
@Nikki942 I don't have any `editor.selectionHighlightBorder` option

Thanks both for the help. Let see if someone finds out the error...

[2021-08-30 18:58] dsifford commented on #78
All: See the issue linked above (microsoft/vscode#32579) for more context, but I just received word from a program manager at Microsoft that they are prioritizing the issue since it impacts accessibility.

See that issue also for a short-term workaround.

[2021-08-30 21:10] dsifford commented on #192
Fair enough! Making the change sounds fine to me.

The font used was Monaco, but that doesn't really matter to me. Any mono font is fine for demo purposes.

[2021-08-30 21:10] #192 closed

[2021-09-03 11:32] jd-0001 opened #196 "colors for bracket pairs in vscode 1.60.0"
Since vscode update 1.60.0 (https://code.visualstudio.com/updates/v1_60#_high-performance-bracket-pair-colorization) enabling native brack pair colorization it messes up the Dracula colors for brackets.

![Screenshot from 2021-09-03 17-01-38](https://user-images.githubusercontent.com/47495003/131998662-824908aa-f2c2-4f8b-a6d9-e71ad47f79f8.png)

Notice that inappropriate blue color

[2021-09-03 12:14] dsifford commented on #196
Added in #195

[2021-09-03 12:14] #196 closed

[2021-09-07 08:54] vanmash opened #197 "Radio buttons look confusing"
Radio buttons look confusing in Jira and Bitbucket (Atlassian Labs) v2.9.1 extension.
`on` button is grey and `off` is white.

For comparison GitHub Theme v4.1.1

Could you take a look?

Dracula Official v2.24.0
![on1](https://user-images.githubusercontent.com/2527832/132315383-2650d8cd-7fe4-4ca2-96f3-a5c00a0d0db9.PNG)
![off1](https://user-images.githubusercontent.com/2527832/132315359-5ee283c2-b0

[2021-09-18 09:49] #191 closed

[2021-10-07 11:27] DanyaSh opened #199 "Error color of terminal (vs code)"
What's wrong with the color of my terminal?
How to fix it?
Please! Help!
I really like this theme, but work in terminal very difficult.

![изображение](https://user-images.githubusercontent.com/10911390/136375448-17ae64f6-cfa9-42a7-b624-ca96c8783eb8.png)

[2021-10-22 04:03] DanyaSh commented on #199
Can you give me settings.json like Dracula Soft please?

For example:
"workbench.colorCustomizations" : {
        // "terminal.foreground" : "#00FD61",
        // "terminal.background" : "#383737",
        "terminal.background":"#131212",
        "terminal.foreground":"#dddad6",
        "terminal.ansiBlack":"#1D2021",
        "terminal.ansiBrightBlack":"#665C54",
        "terminal.ansiBrightBlue":

[2021-10-29 21:15] Grezor commented on #199
@DanyaSh It does this to me sometimes in the terminal too, I put Oh My Zsh Themes on my vscode terminal.
I don't know, if it can create problems. I don't know, if it can cause problems, but I put it in and it works again.

[2021-11-09 19:09] brccabral opened #200 "Log colors"
Hi,
When opening a log file the colors of WARNING are red and ERROR are yellow. I am more the opposite type, I like warn yellow and error red.
I had to make changes in the global settings, but it would be nice to have Dracula to handle these colors.

![log_colors](https://user-images.githubusercontent.com/130455/140988844-9f24af9e-0a9c-4a24-b0f6-aaf933a9ebed.png)

Thanks,
Bruno

[2021-11-09 20:00] dsifford commented on #200
I agree with your suggestion. That does seem strange that it was implemented that way. Feel free to open a PR for this.

[2021-11-13 01:40] helviett opened #201 "No colour for C-style enums"
There is no colour for C-style enums which makes code look weird. I'm not familiar with vscode theming but may be there is a lack of C/C++ semantic knowledge so perhaphs you can use [Enhanced colorization](https://code.visualstudio.com/docs/cpp/colorization-cpp) feature.
There is an example of some Vulkan code:
![image](https://user-images.githubusercontent.com/17850773/141601012-72cda608-0e43-4ef

[2021-11-23 23:48] bralandealmeida opened #202 "JSX constants are white"
Hi, my constants in JS and JSX files are white and before they were purple like in the theme example. Could they let me know if there might be a configuration error?

Thank you for any help.

![code](https://user-images.githubusercontent.com/47180618/143146444-c6708a6f-2e9f-418f-a8f7-8bbb65498753.png)

[2021-11-24 12:56] dsifford commented on #202
Check to see if you have `editor.semanticHighlighting.enabled` set to true in your configuration.

[2021-11-24 13:20] bralandealmeida commented on #202
Thanks. That solved the problem.

[2021-11-24 13:20] #202 closed

[2021-11-26 13:28] vitorim opened #203 "Orange and italic text when destructuring many properties of an object"
I think only params should be like this and the commit destructuring should be green, because it's a function.
![image](https://user-images.githubusercontent.com/73449300/143588105-de7f0100-1346-432e-9091-4425d8a55559.png)

[2021-12-01 07:35] paprikman opened #204 "Python: wrong highlighting of math text in raw strings"
The issue is related to the use of so-called "math text" in matplotlib. Namely, when you try to input some TeX code inside a raw string, it considers backslashed commands as an escaped symbol.

Below are the examples (see lines 9 and 11 in the screenshots).

Dracula v2.24.0
![image](https://user-images.githubusercontent.com/57448756/144191024-3ea916dd-f89a-46b8-8940-1429afcdf6ac.png)

Nord v0.19.0

[2021-12-13 17:08] #187 closed

[2021-12-13 17:11] #200 closed

[2021-12-18 16:23] betancour opened #205 "Inconsistency in color with others Editor."
**Hello team, thank you for maintaining this fantastic color theme.**
** I'd like to express my appreciation to Zeno Rocha and the rest of the team who work on maintaining this product.**

I've been using this theme on IntelliJ for a long time, but recently I've been using VSCode due to its ability to connect remotely and programming on cloud instances.

The theme colors and structure on both them

[2021-12-24 19:48] tjx666 opened #206 "type of variable on hover no colorized"
Dracula Official:

![image](https://user-images.githubusercontent.com/41773861/147370608-2360fb59-fe9f-473c-80c7-576e82fbddf3.png)

Default dark+:

![image](https://user-images.githubusercontent.com/41773861/147370625-315ed60d-94a0-4fc3-89a7-cb2f02c3291a.png)

One Dark Pro:

![image](https://user-images.githubusercontent.com/41773861/147370643-05f5a717-8d3b-4646-94d5-f0aa7a3de913.png)

[2022-01-04 22:56] SadeghPouriyanZadeh opened #207 "ipywidgets are not dark in vscode jupyter notebook"

[2022-01-05 14:30] dsifford commented on #207
Closing this issue until it has more of a description and details how to reproduce.

[2022-01-05 14:30] #207 closed

[2022-01-21 22:10] rarodja opened #208 "Color issue when closing => ;"
When adding a line of PHP in quotes for HTML, the symbol => ; It is colored white outside quotes and yellow inside, should it be white for everything? I attach a small example image:

![PosibleIssue](https://user-images.githubusercontent.com/74628132/150606670-2745a9d2-10df-4228-a7b5-bbd61fbddf40.png)

Thank you so much!

[2022-01-27 18:28] tjx666 commented on #206
@misolori Maybe you are familiar with this.

[2022-02-03 03:58] charmingpark commented on #206
I really appreciated your email.
Thank you for sending me a reply.

humm sorry that I couldn't fully understand..
but what i wanted to ask was in the 'comment' line.

how to change the color of *brackets '{} () []' in comments* in HTML files.

well, html's comment '' goes as gray color nicely.
[image: image.png]
*But, *in HTML files, if i use* <script> tag* or *<style>*
*tag,Comment's brackets *ar

[2022-02-03 04:34] Binaryify commented on #206
I think that is because hover hight is same as variable
![image](https://user-images.githubusercontent.com/12221718/152281694-ca4c01e3-47ce-4652-8b80-ac745a1e72f7.png)

[2022-02-07 02:03] charmingpark commented on #206
hummm.....then, what should I do???...
can u guess??? o_o;; (sorry for i couldn't catch the point yet)

On Thu, Feb 3, 2022 at 1:34 PM binaryify ***@***.***> wrote:

[2022-02-07 15:39] kylegoines opened #209 "SIdepanel border"
Just noticed i seem to be missing the side bar and panel borders of search and explorer, i was able to re-add them in my settings.json

[code]

[2022-02-10 18:15] sametsafak opened #210 "Selected text can't seen on folded element"
Hi,

When I try to select something on a folded element, I can't see if it's selected or not.

In screenshot, I just select multiple lines to make it visible to you, but if I want to select some attributes in one line (like class name 123) on folded element, I just can't see if it's selected it or not.

<img width="227" alt="Screen Shot 2022-02-10 at 21 13 44" src="https://user-images.githubuserco

[2022-02-16 03:42] golopot opened #211 "Improve background color for sidebar"
The background color looks better if it is changed to the average color for activity bar and editor.

[code]

Before:
<img width="1335" alt="Screen Shot 2022-02-16 at 11 36 20 AM" src="https://user-images.githubusercontent.com/16285118/154191634-2796062f-845b-44b9-a767-f92fd2c1e9e8.png">

After:
<img width="1335" alt="Screen Shot 2022-02-16 at 11 35 47 AM" src="https://user-images.githubuserconten

[2022-02-18 05:29] golopot commented on #211
I got it worked after I disabled all extensions and preferences. Thanks!

[2022-02-18 05:29] #211 closed

[2022-02-24 05:36] charmingpark commented on #211
i luv customized theme too ;)

On Wed, Feb 16, 2022 at 12:42 PM Chiawen Chen ***@***.***>
wrote:

[2022-03-02 03:05] himhimlo commented on #210
Agree, I also use code fold all the days the issue is a bit annoying.

[2022-03-05 15:10] zhulien-ivanov commented on #210
This is an extremely annoying issue which makes the theme basically unusable in large codebases using VS Code. Any plan on addressing it?

[2022-03-09 21:48] lilyball opened #212 "shellscript strings are not highlighted inside a `for ((` loop"
If I write a `for (( exp1; exp2; exp3; )); do` loop in shellscript, any strings in the body of the loop do not get colored.

<img width="621" alt="screenshot demonstrating the lack of color on this type of shellscript for loop" src="https://user-images.githubusercontent.com/714/157541777-968c1654-c0eb-468f-b1be-e5d65e5c4117.png">

The editor scope inspector says that the color is coming from `meta

[2022-03-09 23:46] pinheiro-neto opened #213 "Defeito tema Dracula com o plugin css peek"
<p>
Tem um grande defeito na visualização do plugin css peek deixando o código embaçado, onde ele fica quase ilegível  </p>

![peek](https://user-images.githubusercontent.com/74797032/157558476-b325d549-2d51-424d-9ed0-4224748ae5d1.PNG)

[2022-03-15 17:59] HMaker commented on #188
@tchar can't `meta.function-call.generic` be colored? I had this issue for months and fixed now with profile settings:
[code]

[2022-03-20 21:39] dsifford commented on #213
I'm sorry, I don't understand what you're asking for/reporting here. If you're able to translate what you're reporting to english, feel free to reopen and elaborate further.

[2022-03-20 21:39] #213 closed

[2022-03-20 21:59] dsifford commented on #188
I'm going to go ahead and close this as it seems that only 1 way can work and not both and I'd prefer to better support users who use semantic highlighter.

[2022-03-20 21:59] #188 closed

[2022-03-20 22:00] #185 closed

[2022-03-20 22:03] dsifford commented on #201
@helviett Can you elaborate on what specifically you're asking for here? Bonus points if you open a PR with your suggested changes. :+1:

[2022-03-20 22:14] dsifford commented on #205
@betancour What language is this? Is this a language that supports semantic highlighting?

[2022-03-20 22:19] dsifford commented on #206
This looks like maybe an issue with VSCode itself and not this theme.

It looks like when using `var` specifically, the type is not colored correctly (as you pointed out).

![image](https://user-images.githubusercontent.com/5240018/159188405-81bc84d9-7f9c-4d67-922b-a9661916d7de.png)

However, if you use `let` the type is colored correctly.

![image](https://user-images.githubusercontent.com/524001

[2022-03-20 22:19] #206 closed

[2022-03-20 22:27] dsifford commented on #209
Thanks for the report.

This is by design. By all means add the customization in your `settings.json` though if you like this better :+1:

[2022-03-20 22:27] #209 closed

[2022-03-20 22:43] dsifford commented on #212
I couldn't recall either what the edge case was for, but after looking into it, it looks like without that set then the contents inside the `(( ))` of the loop are highlighted like this:

![image](https://user-images.githubusercontent.com/5240018/159189167-eb3c7c9d-8aab-4e9c-9c34-c9a1f2f30031.png)

So one way or the other, something looks incorrect.

[2022-03-20 22:45] #203 closed

[2022-03-20 22:45] #208 closed

[2022-03-20 22:45] #210 closed

[2022-03-20 23:06] lilyball commented on #212
@dsifford What you show is the highlighting that you would also get with just

[code]

(except your parens aren't highlighted because I'm guessing you only disabled `meta.scope.for-loop.shell string` and not `meta.scope.for-loop.shell punctuation.definition.string.begin`/`end`)

In particular, this highlighting is because this construct is a math expression and ends up with the scope `string.other

[2022-03-21 14:35] kylegoines commented on #209
sorry i dont want to nitpick but wanted to just mention that an official UI image uses the sidebar border color
![Screen Shot 2022-03-21 at 10 33 13 AM](https://user-images.githubusercontent.com/2029565/159283874-182dccce-c5b2-4964-95dc-fe27d7359b71.png)
 that can be found here: https://draculatheme.com/ui

[2022-03-26 23:30] betancour commented on #205
Greetings, @dsifford Thank you for your time and consideration; please accept my apologies for the delay in responding.

Java language.

The first image is IntelliJ, whereas the second image is Visual Studio Code.
At first sight, the biggest difference is in the Java Annotations colors and type assignation.
Other discrepancies exist; my recommendation is to integrate these and utilize the IntelliJ

[2022-05-07 09:12] marnixhoh opened #216 "Colors of the Dracula Theme changed after update of VScode"
<img width="748" alt="image" src="https://user-images.githubusercontent.com/47228669/167247088-3110b51b-a853-4d5e-953a-9b37c1c8aa95.png">

The colors of the Dracula Theme suddenly changed for me after updating to the latest version of VScode (1.67.0).

As can be seen in the screenshot (a React file), the curly brackets of the props are now `green`, whereas they used to be `red`. The same is true f

[2022-05-07 16:14] rostyslav-a-smartgamma commented on #216
Hello, same, after VS code update now colors my PHP code are different... terrible

[2022-05-09 17:40] marnixhoh commented on #216
@rostyslav-a-smartgamma Thank you so much for sharing a link to that issue. I lost hours trying to figure out what caused this...

[2022-05-09 17:40] #216 closed

[2022-05-21 05:21] TheDevick opened #217 "PHP Syntax Highlight Bug"
# Steps to Reproduce:

1. **Create** This Simple Class:
[code]
The **Syntax Highlight** In all `$Int` Will Be **Incorrect**.

The variable Will Be In **White**.

---
## Try to Resolve

In the Configurations Json, add:
[code]

Now, the **Variables** are in **Purple**, but The **Syntax Highlight** In `boolval($Int)` Will Be **Incorrect**.

The **Dolar Sign** (**$**) Will Be In **White**

[2022-05-24 19:34] dsifford commented on #217
@TheDevick This is the correct behavior. Variables are supposed to be white.

If you prefer variables to instead be highlighted in `#bf72e6`, I encourage you to apply that adjustment to your user settings (as you described).

If you are also looking to make the dollar sign that color, try also adding this...

[code]

[2022-05-24 19:34] #217 closed

[2022-06-15 13:16] giulianosrebuli opened #219 "Parameter not highlighting as should"
Hi everyone.
I use Dracula for a few months now, but this week some highlighting just went missing and i can't tell why. This is a example code:

![image](https://user-images.githubusercontent.com/44322465/173834578-f2f0ecd2-87ea-48b7-aad4-8f1351ce77a6.png)

My main concern is to the parameter _(*buffer)_ which should be orange inside the function as well, just like it's shown in the readme:

![im

[2022-06-15 14:43] giulianosrebuli commented on #219
My semantic highlighting is on for all color themes.

I am using C, the comparison was made because it used to look like that before, i.e. the parameter would still be orange in all its uses inside the function

[2022-06-15 14:58] dsifford commented on #219
This is something that is 100% controlled by semantic highlighting so I would triple check that you do indeed have it enabled.

[2022-06-15 15:22] giulianosrebuli commented on #219
![image](https://user-images.githubusercontent.com/44322465/173864444-c885ee03-d9b0-46fc-b115-0db987b11ba3.png)
 unless i'm doing something wrong here, it is enabled

[2022-06-17 22:48] qxxiao opened #220 "Go Highlight"
Hi,
For Go language highlighting, function call tokens are in the same color as the **type**.

![image](https://user-images.githubusercontent.com/43007848/174409598-843700fb-c3b5-4f24-b5b7-96c5b4c88774.png)
And function arguments seem to be a known issue in known_issues.md

[2022-06-30 21:46] ameenbadri7 commented on #187
you saved my live..

[2022-07-03 21:07] baubleb opened #221 "Feature request: High contrast version of Dracula theme"
It would be nice and useful to have a *high contrast* version of the theme.

[2022-07-22 20:08] dzdiscoveryzone commented on #220
Same here. I briefly had this working in VSCode out of nowhere and then it stopped working again randomly. I've tried overrides and can't seem to get this to work. On the contrast for JetBrains GoLand this works perfectly.

[2022-08-19 10:29] jaigouk commented on #199
here is what I am using for dracula in my vscode

[code]

[2022-09-06 15:30] asportnoy opened #222 "Bracket pair colorization can match text color"
![Screenshot 2022-09-06 at 10 28 09](https://user-images.githubusercontent.com/14863373/188675116-7ed44d8b-f686-4153-b347-cb74bfa60758.png)
The bracket pair colorization here matches the color of the text, making it hard to distinguish. This is in JS but could apply to other languages too, probably.

<details>
<summary>Code</summary>

[code]
</details>

[2022-09-19 08:21] Delapouite commented on #197
I agree that these radio buttons are disturbing. It feels like they are "inverted", because when they are on, they are dimmed.

By inspecting how they are rendered with VSCode (Ctrl+Shift+I), it appears that the current "checked color is :

[code]

Don't know yet what is the correct way to fix this, but I'll try to come up with something.

[2022-09-29 08:51] vonzo opened #223 "Feature request: Dracula theme on git-commit associated files"
![image](https://user-images.githubusercontent.com/34040775/192986578-df6f7992-02a4-4f59-bff7-f45c451f57c3.png)

It would be nice to have the git dracula theme when exporting git commit files (which can be associated like that in vscode)

[2022-10-06 15:00] mafsi opened #224 "Add better support for LaTeX"
When citing in `LaTeX` page no. are left behind making code inconsistent to see it fast.

![ss_06-10-2022_175700-4x](https://user-images.githubusercontent.com/61430691/194347390-0624de42-da4d-4e93-b910-2621f3055bd9.png)

[2022-10-13 09:02] FrehnerMauro opened #225 "Kjjnjnjn"
Bhbh$

[2022-10-13 14:38] #225 closed

[2022-10-19 03:36] himhimlo opened #226 "Peek view background color should be BGLight instead of BG?"
Does any body agree that the background color of the peek view should be BGLight instead of BG?
Now:
![image](https://user-images.githubusercontent.com/3815971/196591796-d8436319-85aa-4e8e-ae23-9b16862c668b.png)
Should be:
![image](https://user-images.githubusercontent.com/3815971/196591721-03d1edbb-a027-42fe-a160-ab3da5cd144c.png)

[2022-10-27 18:29] CBroz1 opened #227 "Table visibility in Jupyter"
Thanks for all your work on this!

I'm curious if there are Any workarounds for table visibility in Jupyter. It's very hard to read the contents when the background is preserved as the default

![image](https://user-images.githubusercontent.com/9404707/198370256-abe6ce16-ca56-4904-9ddd-9178abe0caf2.png)

[2022-11-11 01:38] joesdu opened #228 "Visual Studio On ARM64 not Support"
[Link 772](https://github.com/dracula/dracula-theme/issues/772)

[Link 25](https://github.com/dracula/visual-studio/issues/25)

[2022-11-11 01:40] #228 closed